/* Ajustes para chan.sankakucomplex.com */

@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain('chan.sankakucomplex.com') {
  div#header ul#subnavbar {
    height: 2em;
  }
  
  div#post-content {
    padding-top: 0;
  }
}
