/* Ajustes para de.wiktionary.org/Spezial:Beobachtungsliste (parche estilo) */

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document regexp('https://de\\.wiktionary\\.org/.*Spezial(:|%3A)Beobachtungsliste.*') {

  .mw-changeslist-separator:empty:before
  {
    content: '. .';
  }

  .mw-changeslist-separator--semicolon:before
  {
    content: ';';
  }

  .mw-rollback-link:before
  {
    content: '[';
  }

  .mw-rollback-link:after
  {
    content: ']';
  }

  .comment--without-parentheses:before,.mw-changeslist-links:before,.mw-diff-bytes:before,.mw-tag-markers:before,.mw-uctop:before
  {
    content: '(';
  }

  .comment--without-parentheses:after,.mw-changeslist-links:after,.mw-diff-bytes:after,.mw-tag-markers:after,.mw-uctop:after
  {
    content: ')';
  }

  .mw-changeslist-links
  {
    display: inline-block;
  }

  .mw-changeslist-links > span:not(:first-child):before
  {
    content: ' | ';
  }

  .mw-changeslist-links .mw-rollback-link:before,.mw-changeslist-links .mw-rollback-link:after
  {
    content: '';
  }

  .mw-plusminus-pos
  {
    color: #006400;
  }

  .mw-plusminus-neg
  {
    color: #8b0000;
  }

  .mw-plusminus-null
  {
    color: #a2a9b1;
  }

  .mw-changeslist-line-watched .mw-title
  {
    font-weight: bold;
  }

  .mw-changeslist-legend
  {
    float: right;
    margin-left: 1em;
    margin-bottom: 0.5em;
    clear: right;
    font-size: 85%;
    line-height: 1.2em;
    padding: 0.5em;
    border: 1px solid #ddd;
  }

  .mw-changeslist-legend dl
  {
    margin-bottom: 0;
  }

  .mw-changeslist-legend dt
  {
    float: left;
    margin: 0 0.5em 0 0;
  }

  .mw-changeslist-legend dd
  {
    margin-left: 1.5em;
  }

  .mw-changeslist-legend dt,.mw-changeslist-legend dd
  {
    line-height: 1.3em;
  }
}
