/* ==UserStyle==
@name           Dark theme Deepl 2023
@namespace      USO Archive
@author         Opix
@description    `Dark theme Deepl`
@version        20230118.15.23
@license        CC-BY-NC-4.0
@preprocessor   uso
==/UserStyle== */

@-moz-document domain("deepl.com") {
  /*root*/
  :root {
    --main-grey: #232323;
    --second-grey: #2c2c2c;
    --blue: #25b9ff;
  }

  /*body*/
  body, a, p, textarea, strong, div, span, li, ul, img, section, button, h1,
  h2, h3, h4, h5, h6, svg {
    color: var(--blue) !important;
    /*fill: var(--blue) !important ;*/
    border: none !important;
  }

  .dl_body--redesign,
  .dl_body--redesign,
  .dl_top_element--wide,
  .dl_header:before {
    background-color: var(--main-grey) !important;
  }

  /* container*/
  .lmt__dict,
  .dl_pro__banner--2021--wrapper,
  .lmt__dict__inner,
  .lmt__language_wrapper,
  .innerUpper--ctL6w,
  #tabTranslateFiles,
  #tabTranslateText,
  #dictionary-section div,
  #dictionary-section h3,
  .lmt__docTrans-tab-container button div,
  .root--lmTwI {
    background-color: var(--second-grey) !important;
  }

  .dl_ad_pro_container,
  #dictionary-header,
  .lmt__dict__empty_state,
  .lmt__dict__placeholder__shown {
    background: none !important;
  }

  .lmt__dict,
  .innerUpper--ctL6w,
  #tabTranslateFiles {
    border-radius: 8px !important;
  }

  /*  bloc-trad*/
  .lmt__textarea_container,
  .lmt__textarea_container,
  .lmt__language_container,
  .lmt__sides_container button {
    background-color: var(--second-grey) !important;
  }

  /* footer*/
  .footerOuterContainer--5xbuU {
    background-color: var(--blue) !important;
  }

  .dl_body--redesign .lmt--web .lmt__textarea_container div {
    border: none !important;
  }
}

