/* Ajustes para chrome://devtools/content (fuente) */

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url-prefix('chrome://devtools/content/') {
	
.devtools-monospace {
	font-size: 12px !important;
}
	
}
