/* Para páginas sin estilo, especialmente las antiguas */

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document regexp('https?://.*') {
	
	body, div.mw-body {
    background-color: #f8f4f4;
    color: #000014;
		margin: 0 1.5em;
	}
	
	a {
		color: #0044bf;
	}
	
	@media (min-width: 1200px) {
		body {
			margin: 1em 5em 1em 2.5em;
		}
	}
}
