/* Trabajo en progreso */

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain('reddit.com'), regexp('https?://.+\.html.?'), regexp('https?://.+\.org.?') {
	
	body, div, p, textarea, form, div.mw-body, div.md, div.md-container div.md, .side, div.side, div.searchpane  {
    background-color: #0a0a0a;
    color: #efefef;
	}
	
	a, div > a, p > a, h1 > a, a.title {
		color: #5C8DE6;
	}
	
	/* para los sitios INVIDIOUS. */
	div#player > div.vjs-text-track-display > div, div#player > div.vjs-text-track-display {
		background-color: transparent;
	}

}
