@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("guides.rubyonrails.org") {
	
	#feature > .wrapper {
		position: initial;
	}
	
	#feature > .wrapper > #subCol {
		border: 2px solid grey;
		margin-top: 163px;
		background-color: #CED9E6;
	}
	
	#feature > .wrapper > #subCol code, #feature > .wrapper > #subCol a  {
		color: #492524;
	}
	
	#container {
		background-color: #DFEBF2;
		border-top: 1px solid #bbb;
	}
	
	#container > .wrapper {
		margin-left: 40px;
		margin-top: 40px;
	}
	
	#container > .wrapper > #mainCol {
		max-width: initial;
		font-size: 16px;
	}
	
	p > code {
		background-color: #eee;
		border: 1px solid #ddd;
		border-radius: 3px;
		padding: 0px 5px;
		font-size: 15px;
	}
	
	.code_container {
		border: 2px solid #ccc;
	}
	
	.note {
		background-color: #F8ECB2;
	}
	
}
