/* ==UserStyle==
@name           Stallman.org
@namespace      USO Archive
@author         Jesper Bak
@description    `A style for stallman.org that gives it a nice #EEEEEE background and other stuff`
@version        20180328.9.35
@license        CC0-1.0
@preprocessor   uso
==/UserStyle== */

@-moz-document domain("stallman.org") {
    body{
        margin:40px auto;
        background-color:#EEEEEE;
        max-width:650px;
        line-height:1.6;
        font-size:18px;
        color:#444;
        padding:0 10px
    }
    h1,h2,h3{line-height:1.2}
}
