/* Ajustes para typemoon.fandom.com (más ancho) */

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("typemoon.fandom.com") {
  
	#WikiaRail, #WikiaRailWrapper {
		display: none;
	}

	#WikiaMainContent {
		width: initial !important;
	}

} 
