/* Ajustes para *.wik|tionary|isource.org (textarea)  */

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("wikisource.org"), domain('es.wiktionary.org'), domain('de.wiktionary.org') {
  
.mw-editfont-monospace, .mw-editfont-sans-serif, .mw-editfont-serif {
  font-size: 16px;
}
  
}
