/* ==UserStyle==
@name           Wikipedia - Dark, green, lustrous
@namespace      USO Archive
@author         grom
@description    `by <a href="/users/131844?per_page=50">grom</a>. Please READ!This is a dark green <strong>color set</strong> for Wikipedia and it's sister sites, designed to be used <strong>together with a layout style</strong> (as in the posted screenshot). It works on it's own, but doesn't look quite as nice.I recommend you add style 63573. Other layouts suggested below.Enjoy!`
@version        20140927.7.10
@license        CC0-1.0
@preprocessor   uso
==/UserStyle== */
/* License: CC0 Public Domain (creativecommons.org/publicdomain/zero/1.0/) */
/* Version: 2014-09-27 (userstyles.org/styles/63608) */
/* AGENT_SHEET */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("wikipedia.org"), domain("wikimedia.org"), domain("wiktionary.org"), domain("wikiquote.org"), domain("wikibooks.org"), domain("wikisource.org"), domain("wikinews.org"), domain("wikiversity.org"), domain("wikimediafoundation.org"), domain("mediawiki.org"), domain("wikivoyage.org"), domain("wiki.openstreetmap.org"), domain("wikidata.org"), domain("translatewiki.net"), url-prefix("http://www.baka-tsuki.org/project/") {

html { background: #053322 fixed center !important; }

/* main elements */ html > body, table, tbody, tr, td, h1, h2, h3, ul, ol, li, dl, dt, dd, p, blockquote, q, cite, fieldset, form, label, iframe, header, main, footer, nav, article, section, caption, center, abbr, sub, sup, font, span:not([class]), code,
/* make it stick on other browsers */ #content tbody, #content tr, #content td,
/* most of the page */ .noprint, .vectorTabs, .vectorMenu, .portal, .portal > .body,
/* further reading */ .reflist, .refbegin, .catlinks, .references,
/* edit links */ .editsection, /* edit page */ .option, /* "from Wikipedia" */ #siteSub,
/* rare finds */ .toccolours, #template-documentation, .iezoomfix, /* listen to article */ .infobox,
/* image blocks */ .thumb, /* internal wiki images */ .image.image > img[src^="//bits.wikimedia.org/"],
/* fix images inside notes */ #bodyContent .metadata img, #bodyContent .infobox img, #bodyContent .noprint img, #bodyContent .plainlinks img, .collapsible img,
/* search */ #searchButton, .suggestions-results, .suggestions-special, /* lang */ .search,
/* blog.wikimedia.org */ #column-content, #simpleSearch > input,
/* www-subdomain */ .divTop10item, /* mobile subdomain */ body.mobile div,
/* JS created UI */ .ui-dialog div, .ve-ui-mwCategoryItemButton, /* syntax highlighter fix */ .mw-geshi > div > pre,
/* almost everything else; div[rel] created by JS */ div[id="content"] div:not([rel]):not([style])
{ background: none !important; }

div, tt, a, span[class]:not(.legend-color) { background-color: transparent !important; }
#mw-head, .vectorTabs:hover { background-color: #24301f !important; }

#content, #simpleSearch, /* side */ div[id="content"] table, #content .infobox,
/* edit */ #content .options, .ve-ui-menuWidget, .ve-ui-toolbar-bar,
/* tooltips */ .referencetooltip > li, #content .tooltip-repeat, /* notifications */ #content .mw-notification,
/* popups */ .ui-dialog, .ui-widget-content, .ve-ui-popupWidget-body, /* keyboard select */ .imeselector-menu,
/* mobile */ #mw-mf-header, #mw-mf-drawer, #mw-mf-content-left,
/* wikivoyage */ #content .topbanner .name,
/* misc */ .ve-init-mw-viewPageTarget-toolbar-editNotices { background: #2e4026 /*#253a21*/ !important; }

#mw-panel#mw-panel .portal.portal > .body, .portal.portal > .body, .toc.toc, #toc.toc.toc:hover, #p-personal[id]:hover, .suggestions, .vectorMenu > .menu > ul,
option, kbd, .keyboard-key, #footer, #mw-panel,
/* JS created UI */ .ui-widget-overlay, .uls-menu, .uls-search, .ve-ui-frame-body, #content .ve-ui-toolGroup-tools,
/* search related */ .mw-search-formheader,
/* notes */ .metadata.plainlinks,
/* tips on hover */ .tipsy, .tipsy-inner,
/* mobile sites search */ #results, .mobile > #header,
/* spoken articles */ .mediaContainer .control-bar,
/* flagged articles */ #content .flaggedrevs_short, .flaggedrevs_short_details,
/* coordinates on hover */ .nourlexpansion > span > div[style],
/* code */ #content .mw-geshi, pre { background: #24301f !important; }

/* needs testing */ div[style*="background"],
#content tr:nth-child(2n), tr:nth-child(2n) { background: rgba(20,20,20,0.2) !important; }
#content th, th, /* wiktionary */ .NavHead { background: rgba(120,120,120,0.1) !important; }
/* VisualEditor overlay */ .ve-ui-dialog { background: rgba(20,20,20,0.6) !important; }
.ve-ui-iconedElement-icon[class*="ve-ui-icon-"]:not(#I):not(.ve-ui-icon-down) { background-color: #999 !important; }

/* chemical structures */ #mw-content-text > p img, #mw-content-text > dl img, /* math formulas */ img.tex { background: #eee !important; padding: 2px; border-radius: 3px; }
/* most images */ .image > img[src^="//upload.wikimedia.org/"]:hover, #bodyContent .image > .thumbborder:hover,
/* structures, signatures */ #mw-content-text > table > tbody > tr > td > .image > img, /* history */ .filehistory a img, #file img,
/* music notes on Guitar */ #bodyContent .infobox .image > img:hover,
/* other images */ img.thumbimage, .thumb .image > img { background: #eee !important; padding: 0; }
/* home text logo */ .central-textlogo > img, #wm-home-header > img, a[href="/wiki/Wikisource"] > img[alt="Wikisource"] { background: #eee; padding: 5px; border-radius: 8px; }
#p-logo, #www-wikimedia-org img/*, .central-featured-logo-inner > img[title="Wiktionary"]*/ { background: #2e4026 !important; border-radius: 8px; }
#p-logo:hover, #www-wikimedia-org img:hover { background: #6b4 !important; }
/* 21x21 */ .articleFeedback-rating-label, .articleFeedback-rating-clear, .articleFeedback-switch { border-radius: 11px; }
/* fr */ img[src$="/Bluebg_rounded.png"] { visibility: hidden; }

/* cite tooltips */ .referencetooltip > li + li { opacity: 0 !important; }
.referencetooltip > li, #pagehistory > li.selected, #simpleSearch, a.button.active { border-color: inherit !important; }
/* history */ #pagehistory > li { border-color: transparent !important; }
/* ancestor trees */ tr, td, /* main */ #content, #searchform, /* other */ abbr { border-color: #aaa !important; }
td[style*="border"]:empty { border-color: transparent !important; }
/* Geometric_Shapes */ .wikitable, th[style], td[style] { border-color: #777 !important; }
/* notes */ .metadata { border-left-color: #9fc !important; }
/* blue */ .ambox-notice { border-left-color: #27c !important; }
/* orange */ .ambox-content { border-left-color: #c72 !important; }
/* yellow */ .ambox-style { border-left-color: #992 !important; }
/* mobile fix */ .mobile > #footer, /* annoyances */ .navbox { box-shadow: none !important; }
/* places on maps */ a.image ~ div:not([class]) > div { color: #111 !important; }

#content .errorbox { background: #522 !important; }
#content .successbox { background: #151 !important; }
#content .warningbox, #content .usermessage { background: #551 !important; }
.suggestions-result-current, .suggestions-result:hover, #anoneditwarning, #anoneditwarningtest { background: #364 !important; }
.diff-addedline { border-color: #7f7 !important; } .diff-addedline .diffchange, .mw-plusminus-pos { color: #9fa !important; }
.diff-deletedline { border-color: #f77 !important; } .diff-deletedline .diffchange, .mw-plusminus-neg { color: #fa9 !important; }

* { color: inherit !important; text-shadow: none !important; }
html, .tocnumber, /* www-subdomain */ .central-featured em, .central-featured small { color: #fff !important; }
hr { height: 0 !important; border: 0 solid #999 !important; border-width: 1px 0 0 !important; }
a { color: #9fc !important; }
a:hover { color: #afa !important; }
a:visited { color: #8b8 !important; }
a:visited:hover { color: #afa !important; }
a.new, .error, .newpage { color: #f77 !important; } a.new:hover { color: #fa9 !important; }

::-moz-selection { background: #9fc !important; color: #000 !important; }
::selection { background: #9fc !important; color: #000 !important; }

input[type="submit"], input[type="button"], input[type="file"], input[type="reset"], button,
/*exp?*/ /*.buttons span,*/ a.button, .ui-button, .ve-ui-buttonWidget { color: #fff !important; border: 1px solid #555 !important; background: #172013 !important;
border-radius: 7px !important; box-shadow: none !important; text-shadow: none !important;
background-image: linear-gradient(rgba(255,255,255,0.2),rgba(125,125,125,0.2),rgba(0,0,0,0.3)) !important; }

input[type="submit"]:hover, input[type="button"]:hover, input[type="file"]:hover, input[type="reset"]:hover, button:hover,
a.button:hover, .ui-button:hover, .ve-ui-buttonWidget:hover
{ border-color: #5c4 !important; background-color: #000 !important; color: #5c4 !important; box-shadow: 0 0 1em #9fc !important; }

button, input, select, textarea { -moz-appearance: none !important; }
input[type="radio"], input[type="checkbox"] { color: #9fc !important; background: none !important; border-color: #999 !important; }

input, select, textarea, input[type="text"] { background: #24301f !important; color: #fff !important; padding: 2px !important; border: 1px solid #999 !important; box-shadow: none !important; }
input[type] { border-width: 1px !important; border-style: solid !important; }
textarea:hover, input:hover, select:hover, textarea:focus, input:focus, select:focus { border-color: #0f9 !important; }

select > button, #searchButton, #simpleSearch > input { background-color: transparent !important; border: none !important; box-shadow: none !important; }
html:root option:checked { background: #9fc !important; color: #000 !important; }


#preftoc > .selected > a, .portal > h5, .portal > h3 { border: 1px solid !important; border-radius: 5px; background: #24301f !important; }
/* opacity should stay at .99 for WebKit browsers */
.portal.portal > .body, #toc.toc.toc:hover, .vectorTabs[id]:hover, #p-personal[id]:hover, html > body > .suggestions[class] { opacity: 0.99 !important; }

#content .tex { filter: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1">\
<defs><filter id="A">\
  <feColorMatrix type="hueRotate" values="180"/>\
  <feComponentTransfer>\
    <feFuncR type="table" tableValues="1 0 0"/>\
    <feFuncG type="table" tableValues="1 0 0"/>\
    <feFuncB type="table" tableValues="1 0 0"/>\
  </feComponentTransfer>\
</filter></defs></svg>#A'); -webkit-filter: invert(100%) hue-rotate(180deg) !important; }

html { background-image: url("http://img688.imageshack.us/img688/1631/greenqh.png") !important; } }
