/* Ajustes para chan.sankakucomplex.com (estilo completo) */

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("chan.sankakucomplex.com") {

body {
  font-family: sans-serif;
  font-size: 74%;
}

body, body.en, body.ja, div, h1, h2, h3, h4, h5, h6, p, ul, li, dd, dt {
  margin: 0;
  padding: 0;
}

body, body.en, body.ja {
  background-color: #1B1B1B;
  min-width: 940px;
  color: #e6e6e6;
}
  
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

a:link {
  color: #FF761C;
  font-weight: bold;
}

.blacklisted-tags-disabled {
  color: #AAA !important;
}

a:visited {
  color: #FF761C;
  font-weight: bold;
}

a:hover {
  color: #ffa971;
}

a:active {
  color: #666;
}

a.last-page {
  color: #666;
}

a.spoiler {
  color: #e6e6e6;
  background: #e6e6e6;
  cursor: text;
}

a.spoiler:hover {
  color: black;
}

div.spoiler > p {
  display: inline-block;
  background-color: #EEE;
  color: #EEE;
}

div.spoiler > p:hover {
  color: black;
}

div.spoiler > p > a {
  color: #EEE
}

div.spoiler > p:hover > a {
  color: #FF761C
}

::selection { background: #ffcc89; color: #222; }

addr {
  display: block;
  margin-left: 2em;
  font-weight: bold;
}

code {
  font-family: monospace;
  font-size: 1.2em;
}

dd { font-weight: bold; margin: 0 0 0 15px; padding: 0; display: block; }
dt { margin: 0; padding: 0; font-weight: bold; }

dt.bad {
  color: red;
}

h1 {
  font-size: 2.0em;
}

h2 {
  font-size: 2.0em;
}

h2.wiki-title {
  color: #666;
  margin-bottom: 0.25em;
  margin-left: 0.5em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

img {
  border: none;
  vertical-align: middle;
}

img.preview {
  padding:2px;
  margin:auto;
}

img.preview:hover {
  padding:0px;
  border:2px solid #DDD;
}

img.flagged {
  padding:0px;
  border:2px solid #F00;
}

img.favorited {
  box-shadow: 0 0 12px 2px gold;
}

img.has-children {
  padding:0px;
  border:2px solid #A7DF38;
}

img.has-parent {
  padding:0px;
  border:2px solid #CCCC00;
}

img.pending {
  padding:0px;
  border:2px solid #4B4BA3;
}

img.deleted {
  padding:0px;
  opacity:0.5;
  border:2px solid #F00;
}

input {
  padding: 0.2em 0.2em;
  background-color: #222;
  color: white;
}

input, textarea, keygen, select, button, isindex {
  border: 2px solid #FF761C;
  margin: 0.1em;
  background-color: #222;
  color: white;
}

input[type=password]:focus {
  background: #444;
  color: white;
}

input[type=text]:focus {
  background: #444;
  color: white;
}

input[type="submit"] {
  border: 2px solid #FF761C;
  font-weight: bold;
  padding: 0.2em 2em;
  margin: 0.1em;
  cursor:pointer;
}

input[type="button"] {
  border: 2px solid #FF761C;
  font-weight: bold;
  padding: 0.2em 2em;
  margin: 0.1em;
  cursor:pointer;
}

tr input[type="button"] {
  min-width: 25%;
  font-weight: bold;
  margin: 0.1em;
  background-color: #2f2f30;
  color: white;
}

tr input[type="button"]:hover {
  color: white;
}

tr input[type="submit"] {
  min-width: 25%;
  margin: 0.1em;
  background-color: #222;
}

input[type="button"]:hover {
  color: #fff;
  background: #333;
}

input[type="submit"]:hover {
  color: #fff;
  background: #333;
}

label {
  font-weight: bold;
  white-space: nowrap;
}

li {
  margin-left: 1em;
}

ol {
  margin-left: 1em;
}

p {
  margin-bottom: 0.5em;
}

span.author {
  color: #AAA;
}

span.date {
  color: #AAA;
}

span.locked-topic {
  color: #666;
}

span.informational {
  cursor: help;
}

span.post-count {
  color: #AAA;
}

span.thumb {
  height: 180px;
  width: 170px;
  display: inline-block;
  float: left;
  text-align: center;
  vertical-align: middle;
}

span.plid {
  display: none;
}

span.unread-topic {
  font-weight: bold;
}

strong.divider {
  font-weight: bold;
  color: gray;
}

table {
  margin-bottom: 1em;
  border: 2px solid #FF701C;
}

table.form p {
  font-size: 0.8em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

table.form th {
  color: #e6e6e6;
  background: #2f2f30;
  white-space: normal;
  padding-right: 1em;
  text-align: right;
}

table.highlightable > tbody > tr:hover {
  background: #222;
}

table.highlightable th {
  color: #e6e6e6;
}

table.highlightable td {
  margin: 0;
}

table.highlightable th {
  margin: 0;
}

table thead {
  border-bottom: 2px solid #DDD;
  background: #2f2f30;
  font-weight: bold;
}

table tfoot {
  background: #1B1B1B;
}

table td {
  padding: 1px 4px;
  border: 1px solid #3B3C36;
}

table th {
  font-size: 1.1em;
  font-weight: bold;
  text-align: left;
  padding: 0.2em 0.5em;
  white-space: nowrap;
}

table tbody tr {
  color: #e6e6e6;
  font-weight: bold;
}

table tbody tr:nth-child(even) {
  background: #2f2f30;
}

table tr.good {
  background: #222;
}

table tr.selected {
  background: #113 !important; /* override highlightable */
}

table tr.highlight {
  background: #FAFAFA;
}

table tr.pending-tag:nth-child(odd) {
  background: #1B1B1B;
}

table tr.pending-tag:nth-child(even) {
  background: #2f2f30;
}

textarea {
  display: block;
  font-family: monospace;
  font-size: 1.2em;
  background-color: #2f2f30;
}

textarea.no-block {
  display: inline;
  background-color: #2f2f30;
}

textarea:focus {
  background: #222;
}

ul {
  margin-bottom: 1em;
}

ul.bare-list li {
  list-style-type: none;
}

ul.flat-list {
  display: block;
  margin: 0;
  padding: 0;
}

ul.flat-list li {
  display: inline;
  list-style-type: none;
  font-weight: bold;
  padding: 0;
  margin: 0 1em 0 0;
}

ul.flat-list li a {
  font-weight: normal;
}

ul.flat-list li a.forum-update {
  font-style: italic;
}

ul.link-page {
  font-size: 1.2em;
  font-weight: bold;
}

ul.link-page > li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.obsolete-tag-change {
  color: #fff;
}

/* onhover = 40% lighter */
.tag-type-artist > a,
a.tag-type-artist {
  color: #A00;
}

.tag-type-artist > a:hover {
  color: #C66666;
}

.tag-type-studio > a {
  color: #FF2DCD;
}

.tag-type-studio > a:hover {
  color: #FF93FF;
}

.tag-type-character > a {
  color: #0A0;
}

.tag-type-character > a:hover {
  color: #66CC66;
}

.tag-type-copyright > a {
  color: #A0A;
}

.tag-type-copyright > a:hover {
  color: #CC66CC;
}

.tag-type-medium > a {
  color: #2585BB;
}

.tag-type-medium > a:hover {
  color: #7CB6D6;
}

.tag-type-genre > a {
  color: #80461B;
}

.tag-type-genre > a:hover {
  color: #E6AC81;
}

.tag-type-meta > a {
  color: #5C00FF;
}

.tag-type-meta > a:hover {
  color: #9D66FF;
}

.tag-type-operator a {
  color: #999;
}

.tag-type-operator > a:hover {
  color: #C2C2C2;
}

.tag-count {
  color: #999;
}

.added-tags {
  color: #00CC00;
}

.removed-tags {
  color: #ff0000;
}

.unchanged-tags {
  font-size: 0.8em;
}

.added-tags {
  color: #00cc00;
}

.removed-tags {
  color: #ff0000;
}

.unchanged-tags {
  font-size: 0.8em;
}

.history-search-row {
  clear: left;
  margin:0;
  bottom: 0;
}

.history-search-label {
  width: 10%;
  float: left;
}

div#artist-index > table td {
  white-space: nowrap;
}

input#tags {
  border:2px solid #999;
  background: #333;
  border-radius: 35px;
  border-width: 1px;
  border-style: solid;
  border-color: #FF761C;
  width: 182px;
  height: 20px;
  padding: 2px 8px;
  overflow: hidden; /* Clear floats */
}

input#tags:hover {
  background: #222;
  outline: none;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

input#tags:active {
  background: #222;
  outline: none;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

input#tags:focus {
  background: #333;
  outline: none;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

div.auto_complete {
  width: 350px;
  background: #2f2f30;
  color: #e6e6e6;
}

div.auto_complete ul {
  border:1px solid #888;
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
}

div.auto_complete ul li {
  margin:0;
  padding:3px;
}

div.auto_complete ul li.selected {
  background-color: #333;
}

div.auto_complete ul strong.highlight {
  color: #800;
  margin:0;
  padding:0;
}

div.blocked {
  border: 2px solid #F00;
  background: #FCC;
  color: #F00;
  font-size: 1.2em;
  padding: 1em;
  margin: 1em;
  text-align: center;
}

div#comment-list > div.post {
  float: left;
  clear: left;
  margin-bottom: 3em;;
}

div#comment-list > div.post > div.col1 {
  width: 200px;
  float: left;
  clear: left;
}

div#comment-list > div.post > div.col2 {
  float: left;
}

div#comment-list > div.post > div.col2 > div.header {
  margin-bottom: 1em;
  font-weight: bold;
  color: #666;
  width: 50em;
}

div#comment-list > div.post > div.col2 > div.header {
  color: #1B1B1B;
}

div#comment-list > div.post > div.col2 > div.header > div > span.info {
  margin-right: 1em;
  color: #e6e6e6;
}

div#comment-list > div.post > div.col2 > div.header > div.tags > span {
  margin: 0 0.5em 0 0;
  color: black;
}

div.tags {
  color: #e6e6e6;
}

.no-comments {
  color: #666;
  font-size: 1.4em;
  font-weight: bold;
}

div#content {
  min-width: 960px;
  padding: 0 4px 30px 4px;
}

#post-list {
  width: 100%;
}

div.content {
  min-width: 700px;
  float: left;
  margin: 0;
  _margin-left: 120px;
  width: 75%;
}

div#footer {
  margin-top: 1em;
  text-align: center;
  font-size: 120%;
  color: #CCC;
  clear: both;
}

div#footer > .footer-disabled {
  color: #777777;
}

div#footer > #label {
  color: #777777;
}

div#forum > table th:first-child {
  text-align: left;
}

div#forum > table td:first-child {
  text-align: left;
}

#forum {
  margin: 0 1em;
}
    
#forum .date a {
  color: #666;
  font-size: 0.8em;
}

#forum blockquote {
  color: #666;
  margin: 1em 0em 1em 1em;
}

#forum.response-list>div.comment>div.content {
  margin-left: 12em;
}  

#forum.response-list>div.comment {
  width: 60em;
  font-size: 1.25em;
}

#forum.response-list>div.comment>div.content>div.footer {
  font-size: 0.9em;
}

#forum.response-list>div.comment>div.content>div.footer a:hover {
  text-decoration:underline;
}

.forum-parent-title {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.forum-reference {
  float: left;
  width: 30em;
  margin-left: 1em;
}

#respond-link {
  font-size: 1.5em;
  margin: 1em;
}

div.has-mail {
  border: 2px solid #444;
  padding: 1em;
  margin: 1em;
  background: #2f2f30;
  font-size: 1.5em;
  text-align: center;
}

div#header {
  margin-bottom: 0px;
  background: #1B1B1B;
  overflow: hidden;
  min-width: 940px;
}

div#headerlogo {
  max-height:140px;
}

div#headerlogo > a > img#amoledlogo {
  float: left;
  margin: 16px 0px 0px 20px;
  width: 392px;
  height: 100px;
}

div#header #site-title {
  padding: 10px 20px 0px 20px;
}

div#header ul#navbar li.lang-select {
    font-size: 90%;
    color: #e6e6e6;
    padding-right: 60px;
}


div#header ul#navbar li.lang-select a.active{
    font-size: 110%;
    text-decoration: underline;
}

div#header ul#navbar {
  padding: 5px 20px 2px 10px;
  margin: 0;
}

div#header ul#navbar li {
  font-size: 130%;
  padding: 2px 10px 2px 10px;
  margin: 0;
  border: 1px solid #222;
  border-bottom: none;
}

div#header ul#navbar li a {
  font-weight: bold;
}

div#header ul#navbar li.current-page {
  background-color: #2f2f30;
  border: 1px solid #333;
  border-bottom: 2px solid #2f2f30;
}

div#sp {
margin-bottom:6px;
}

div#header ul#navbar li.current-page a {
  font-weight: bold;
}

div#header ul#subnavbar {
  padding: 5px 20px 5px 15px;
  background-color: #FAFAFA;
  margin: 0 0 1em 0;
  border: 1px solid #ddd;
}

div#header ul#subnavbar li {
  padding: 0 5px;
}

div#header ul#subnavbar li a {
  font-weight: bold;
}

div.help {
  width: 40em;
  margin-top: 2em;
}

div.help a.code {
  font-family: monospace;
}

div.help div.code {
  border: 1px dashed #FAFAFA;
  margin: 1em 0;
  padding: 1em 2em;
  background: #EEE;
  overflow: hidden;
  font-family: monospace;
}

div.help > div.section {
  margin-bottom: 4em;
}

div.help > div.section > div.section {
  margin-bottom: 2em;
}

div.help h1,
div.help h2,
div.help h3,
div.help h4 {
  margin: 0 0 0.5em 0;
}

div.help h4 {
  color: #000;
}

div#info {
  font-style: italic;
}

div.mail .received {
  color: darkcyan;
}

div.mail .sent {
  color: cyan;
}

div#mail-show div.message {
  margin-bottom: 4em;
}

div#notice {
  font-size: 1.2em;
  color: red;
  font-weight: bold;
  margin-bottom: 1em;
  padding-left: 20px;
}

div#notice.stick{
  z-index:10005;
  position:fixed;
  left:5px;
  top:5px;
  margin:5px;
  padding:5px 20px 5px 20px;
  border-width: 1px;
  border-radius: 5px;
}

div.page {
  width: 40em;
}

div#paginator {
  display: block;
  padding: 2em 0 1em 0;
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
  clear: both;
}

div#paginator a {
  margin: 0 3px;
  padding: 2px 6px;
  font-weight: bold;
  border: 1px solid #FF761C;
}

div#paginator a.arrow {
  border: none;
}

div#paginator a.arrow:hover {
  background: #e6e6e6;
  color: #9093FF;
}

div#paginator a.current {
  border: 1px solid #FF761C;
}

div#paginator a:hover {
  background: #333;
  color: white;
}

div#paginator span {
  margin: 0 3px;
  padding: 2px 6px;
}

div#post-add p#scale {
  color: #999;
  font-style: italic;
}

div#post-popular > h3 {
  text-align: center;
  margin-bottom: 1em;
}

div#post-view>div#right-col>div#note-info {
  margin: 0.5em 0em 0.5em 1em;
}

div#post-view > div#right-col > div > div#note-container {
  position: absolute;
  margin-left: 1em;
}

div#post-view > div#right-col > div > div#note-container > div.note-body {
  background: #333;
  border: 1px solid #1B1B1B;
  display: none;
  max-width: 300px;
  min-width: 140px;
  min-height: 10px;
  position: absolute;
  padding: 5px;
  cursor: pointer;
  overflow: auto;
}

div#post-view > div#right-col > div > div#note-container > div.note-body > p.tn {
  font-size: 0.8em;
  color: gray;
}

div#post-view > div#right-col > div > div#note-container > div.note-box {
  position: absolute;
  border: 1px solid #1B1B1B;
  width: 150px;
  height: 150px;
  cursor: move;
  background: #FFE;
}

div#post-view > div#right-col > div > div#note-container > div.note-box > div.note-corner {
  background: #1B1B1B;
  width: 7px;
  height: 7px;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

div#post-view > div#right-col > div > div#note-container > div.unsaved {
  background: #FFF;
  border: 1px solid red;
}

div#post-view > div#right-col > div > div#note-container > div.unsaved > div.note-corner {
  background: red;
}

div#post-view > div#right-col > div > img {
  margin-right: 5em;
}

div#post-view > div#right-col > div#recommended {
  float: left;
  margin: 1em 0 1em 1em;
  overflow: hidden;
  color: #e6e6e6
}

div#post-view > div#right-col > div#edit {
  float: left;
  margin: 1em 0 1em 1em;
  width:100%;
}

div#post-view > div#right-col > div#comments {
  float: left;
  margin: 1em 0 1em 1em;
  overflow: hidden;
}

div.quote {
  margin: 0 0 1em 0;
  padding: 1em;
  border: 1px solid #666;
  background: #EEE;
}

div#related {
  margin: 0 3em 1em 0;
}

div#related > div.tag-column {
  float: left;
  margin: 0 2em 2em 0;
  max-width: 8em;
  height: 35em;
}

div#related > div.tag-column > a {
  margin-right: 1em;
}

div.response-list > div.comment {
  float: left;
  clear: left;
  margin-bottom: 1em;
  padding-top: 1em;
  border-top: 2px solid #DDD;
  width: 60em;
  color: #e6e6e6;
}

div.response-list > div.comment > div.author {
  float: left;
  text-align: center;
}

div.response-list > div.comment > div.content {
  float: none;
  padding-left: 0em;
  margin-left: 10em;
  position: relative;
  min-width: 30em;
}

div.response-list > div.comment > div.content  .body.bad {
  color: #999;
}

div.response-list > div.comment > div.content > div.footer {
  margin-top: 1em;
  color: #CCC;
}

div.response-list > div.comment > div.content > div.footer a {
  color: #666;
}

div.response-list > div.comment > div.content > div.footer a:hover {
  text-decoration:underline;
}

div.sidebar {
  border: 1px solid #2f2f30;
  width: 20%;
  padding-left: 1em;
  margin-right: 1em;
  float: left;
  word-wrap: break-word;
  background: #1F1F1F;
}

div.sidebar li {
  list-style-type: none;
  margin: 0;
}

a.original-file-changed#highres {
  color: #0030fa;
  font-weight: bold;
}

div#static-index {
  text-align: center;
}

div#static-index > div#links > a {
  margin: 0 0.5em;
}

div#static-more > div {
  float: left;
  width: 25%;
}

div#static-more > div > ul {
  margin-top: 2em;
}

div#static-more > div > ul > li {
  list-style-type: none;
  margin: 0;
}

div.status-notice {
  border: 2px solid #FF761C;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin: 0em 1em 1em 1em;
  background: #2f2f30;
  text-align: center;
}

div.status-notice.deleted {
  background:#FF0000;
  border:2px solid #A60000;
}

div.status-notice.pending {
  background: pink;
  border:2px solid magenta;
  color: black;
}

div.status-notice.flagged {
  background:#FF9973;
  border:2px solid #FF4500;
  color: black;
}

div.status-notice.appealed {
  background:#62599A;
  border:2px solid #2C1D85;
}

div.status-notice.locked {
  background:#808080;
  border:2px solid #532A2A;
}

div.status-notice p {
  margin: 0;
}

div#duplicate-preview {
  display: inline-block;
}

div#parent-preview {
  display: inline-block;
}

div#child-preview {
  display: inline-block;
}

div#tag-list {
  text-align: center;
  margin-bottom: 2em;
}

div#tag-list > a {
  padding-right: 5px;
}

div#upgrade-account {
  margin: 1em;
  padding: 1em;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

div#upgrade-account a {
  color: black;
}

div#upgrade-account a#hide-upgrade-account-link {
  font-size: 0.8em;
  color: #CCC;
  display: block;
}

.user-show-preview {
  float: left;
  clear: both;
  padding: 1em;
  margin: 1em 0em 1em 0em;
}

div#user-record > table > tbody > tr.positive-record {
  background: #EFE;
}

div#user-record > table > tbody > tr.negative-record {
  background: #FEE;
}

#wiki-form {
  margin-left: 1em;
}

#wiki-table {
  margin-left: 1em;
}

#wiki_page_body {
  width: 33em;
}

.wiki-search {
  margin-bottom: 1em;
  margin-top: 0.25em;
}

.wiki-help {
  float: right;
}

.wiki-reference {
  float: right;
}

div.wiki > h2.title {
  color: #e6e6e6;
  margin-bottom: 0.5em;
  padding-left: 1em;
}

div#wiki-show > div#body {
  font-size: 1.25em;
  text-align: left;
  margin-left: 16.25em;
}

div#wiki-show > div#body ul {
  line-height: 1.2em;
  margin: 0 0 0 1em;
}

div#wiki-show > div#body > ul {
  margin-bottom: 1em;
}

div#wiki-show > div#body > div#byline {
  color: #666;
  font-style: italic;
}

div#wiki-diff > div#body {
  font-family: monospace;
  font-size: 1.2em;
  margin-top: 1em;
  padding-left: 1em;
}

div#wiki-diff del {
  background-color: red;
  text-decoration: line-through;
}

div#wiki-diff ins {
  background-color: green;
}

/* rating */
#rating {
  width: 170px;
}

.unit-rating {
  list-style:none;
  margin: 0px;
  padding: 0px;
  width: 170px;
  height: 34px;
  position: relative;
  background: url(http://s.sankakucomplex.com/images/star_rating.png) left center repeat-x;
}

.unit-rating li {
    text-indent: -90000px;
  padding:0px;
  margin:0px;
  float: left;
}
.unit-rating li a {
  display:block;
  width: 34px;
  height: 34px;
  text-decoration: none;
  text-indent: -9000px;
  z-index: 20;
  position: absolute;
  padding: 0px;
}
.unit-rating li a:hover {
  background: url(http://s.sankakucomplex.com/images/star_rating.png) left bottom;
  z-index: 2;
  left: 0px;
}
.unit-rating a.r1-unit{left: 0px;}
.unit-rating a.r1-unit:hover{width:34px;}
.unit-rating a.r2-unit{left:34px;}
.unit-rating a.r2-unit:hover{width: 68px;}
.unit-rating a.r3-unit{left: 68px;}
.unit-rating a.r3-unit:hover{width: 102px;}
.unit-rating a.r4-unit{left: 102px;}
.unit-rating a.r4-unit:hover{width: 136px;}
.unit-rating a.r5-unit{left: 136px;}
.unit-rating a.r5-unit:hover{width: 170px;}

/* Current rating display */
.unit-rating li {
  background: url(http://s.sankakucomplex.com/images/star_rating.png) left top;
  height: 34px;
  display: block;
  text-indent: -9000px;
  z-index: 1;
}
.unit-rating li.star-full { width: 34px; }
.unit-rating li.star-half { width: 17px; }
.unit-rating:hover li { background: none; }

.favoriteIcon{
  width:42px;
  height:42px;
  margin-left:64px;
  display:block;
  background-position:left top;
  cursor: pointer;
  background-image:url(http://s.sankakucomplex.com/images/hearts.png);
}
.favoriteIcon:hover{
  background-position:left center;
}
.favoriteIcon.clicked{
  background-position:left bottom;
}
.favoriteIcon.clicked:hover{
  background-position:left center;
}
#add-to-favs, #remove-from-favs {
  background-image:url(http://s.sankakucomplex.com/images/heartbg.png);
  background-repeat:no-repeat;
}

/* Similar Search */

#similar-image-form {
  clear: both;
  border-top: solid 1px #DDD;
  margin-left: 1em;
  padding-top: 0.5em;
}

#duplicate {
  float: left;
  padding: 8px 6px 4px;
  margin: 0 0 12px;
  border: solid 2px purple;
}

#lower-threshold a {
  font-size: 1.2em;
}

/* Popular preview */
#popular-preview {
  border: 1px solid #FF761C;
  margin: 0 1em 2em 1em;
  text-align: center;
  background: url(http://s.sankakucomplex.com/images/crown.png) center 0em no-repeat;
  background-size: 50px;
}

.popular-previews {
  display: inline-block;
}

#more-popular-link {
  float: right;
  font-size: 1.2em;
  margin: 0.4em 0 0.4em 0;
}

.popular-preview-post {
  width: 170px;
  display: inline-block;
  margin-top: 2em;
  vertical-align: top;
}

#popular-preview span.thumb {
  float: none;
  /*line-height: 180px;*/
  height: auto;
  padding: 0;
  margin: 0;
}

#popular-preview span.popular-rank {
  font-size: 2em;
  font-weight: bold;
  color: #AAA;
}

#autosuggest{
  position:absolute;
  display: none;
  width:26em;
  background: #222;
  border:1px solid #FF761C;
  z-index:10010;
}
#autosuggestPUPD{
  position:absolute;
  right:0px;
  bottom:100%;
  color:#aaa;
  font-size: 9px;
  background: inherit;
  border:inherit;
  font-style:normal;
}
#autosuggest div{
  font-style:italic;
  margin-left:5px;
}
#autosuggest span:first-child {
  width:19em;
  display:block;
  float:left;
  overflow:hidden;
  padding-top: 5px;
  color: #e6e6e6;
}
#autosuggest span:nth-child(2) {
  width:5em;
  float:right;
  color: #999;
  padding-top: 5px;
}
#autosuggest br {
  clear:both;
}
#autosuggest li {
  list-style:none;
  padding:0;
  margin:0;
  padding:0 4px;
}
#autosuggest li:hover, #autosuggest li#focussedLi {
  background:#333;
  cursor:pointer;
}
#autosuggest li:hover span:nth-child(2), #autosuggest li#focussedLi span:nth-child(2) {
  color:#ddd;
}
.autosuggest, #post_tags{
  font-family: sans-serif;
  font-size: 100%;
  background: #1B1B1B;
  color: #e6e6e6;
}

input#tags > autocomplete {
  background: #1B1B1B
}

#headerthumbs {overflow:hidden; height:136px; padding: 8px 0 0 0; min-width: 500px;}
#headerthumbs li {width:110px; float:left; margin: 0px; padding: 0px; list-style-type: none; font-weight:bold; font: 12px  Sans-Serif;}
#headerthumbs a {display:block; text-align:center; width:104px;}
#headerthumbs img {width: 100px; height: 100px; border: 1px solid #1F1E1B; padding:1px;}

#search-form {
  margin-top: 0.25em;
  margin-bottom: 1em;
}

#search-help {
  float: right;
  margin-right: 60px;
}

#locale {
  display: none;
}

#advanced_search {
  background-color: #2f2f30;
  margin-bottom: 0px;
}

#advanced_search fieldset {
  border: none;
  background-color: #2f2f30;
}

#tag-sidebar {
  overflow: hidden;
}

#mode-menu {
  margin-bottom: 1em;
}

#mode {
  width: 13em;
}

#quick-edit {
  margin-bottom: 1em;
}

#wiki-excerpt {
  overflow-x: hidden;
}

div.scad {
  width: 109%;
  float: left;
  margin: 0 0 0.5em 1em;
  overflow: hidden;
}

div.scad-i {
  width: 109%;
  float: left;
  margin: 0 0 0.5em 1em;
  overflow: hidden;
}

div#sticky {
  width: 20%;
}

div#sticky.stick {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 243px;
  bottom: 0;
  overflow: auto;
}

div.content {
  position: absolute;
  padding-left: 226px;
}

div.sidebar {
    width: 212px;
    z-index: 10000;
    position: relative;
}

#non-image-content {
  margin-left: 1em;
}

.post-content-notification {
  font-weight: bold;
  font-size: 2em;
  color: #999;
  text-align: center;
}

#image {
  margin-left: 1em;
}

 a.no_lang {
     /*color: #aaa;*/
     font-weight: normal;
 }

.in-place-editor {
    margin-bottom: 8px;
}
.in-place-edit-field {
    display: block;
}

.in-place-editor a {
  margin: 2px 4px 0 0;
}

#tag-sidebar a.editmode {
  cursor: text;
  text-decoration: underline;
  color: #00DF1E;
  display: inline-block;
}

#edit-form {
  width: 55em;
}

.ranking-list {
  width: 870px;
  margin-left: auto;
  margin-right :auto;
}

.ranking-list h1 {
  text-align: center;
  font-size: 2.1em;
}

.ranking-top-spot {
background-image: url(http://s.sankakucomplex.com/images/crown.png);
background-repeat: no-repeat;
background-position: center 0%;
background-size: 8%;
border: 5px solid #FF761C;
padding-top: 30px;
margin-bottom: 14px;
padding-top: 50px;
}

.ranking-item  {
  display: block;
  clear: both;
  border-bottom: 2px solid #555;
  padding-bottom: 4px;
  padding-top: 10px;
}

.ranking-item h2 {
  text-indent: 14px;
}

.ranking-item-more {
  font-size: 1.6em;
}

body.en .ranking-item-more {
  margin-left: 90%;
}

body.ja .ranking-item-more {
  margin-left: 85%;
}

.ranking-item span.thumb {
  height: 160px;
}

.ranking-quantity {
  color: #AAAAAA;
}

.ranking-thumbs {
  height: 160px;
  width: 860px;
  padding-top: 8px;
  margin-left: auto;
  margin-right: auto;
}

.subnavbar-option {
  color: darkcyan;
}

.footer-ranking-options {
  text-align: center;
}

.avatar-large img {
  padding: 2px;
  border: 2px solid #FF761C;
  width: 150px;
  height: 150px;
}

.avatar-medium img {
  padding: 1px;
  border: 2px solid #FF761C;
  width: 100px;
  height: 100px;
}

.avatar-small img {
  padding: 1px;
  border: 1px solid #FF761C;
  width: 50px;
  height: 50px;
}

.user-show-heading {
  margin-bottom: 1em;
}

.user-show-heading h2 {
  display: inline;
}

.user-home-heading img {
  float: left;
  margin: 0.5em 1em 100% 1em;
}

.subscription-title {
  font-size: 1.2em;
}

.subscription-title {
  font-size: 1.2em;
}

.tag-alias-header {
  margin-bottom: 1em;
}

.message-user {
  float: left;
  margin: 3em 1em 100% 1em;
  text-align: center;
  color: #666;
  font-weight: bold;
  clear: both;
}

.message-user a {
  font-size: 1.25em;
}

.message h5 {
  margin-bottom: 1em;
}

.message  {
  padding-left: 16em;
}

.message-body  {
  width: 50em;
}

#user-excerpt {
  text-align: center;
  padding-right: 1em;
}

#user-excerpt h5 {
  font-size: 1.25em;
}

#user-excerpt p {
  font-size: 0.95em;
  color: #666;
  font-weight: bold;
}

div#news-ticker {
  padding: 5px;
  background: #2f2f30;
  border-bottom: 3px solid #222;
  overflow: hidden;
  font-size: 1.5em;
}

div#news-ticker ul {
  float: left;
  width:90%;
  margin: 0;
  padding: 0;
}

div#news-ticker li {
  list-style-type: none;
  float: left;
  margin: 0 0 0 0;
  padding: 0;
}

div#news-ticker a#close-news-ticker-link {
  float: right;
}

div#header ul#navbar li:hover ul li { border: 1px solid #2f2f30 }

div#header ul#navbar li:hover {
  background-color: #2f2f30;
  border: 1px solid #2f2f30;
  border-bottom: 1px solid #2f2f30;
}

div#header ul#navbar li:hover ul li:hover {
  border: 1px solid #3B3C36;
  border-bottom: 2px solid #3B3C36;
  background-color: #3B3C36;
}

div#header ul#navbar {
  padding-left: 1em;
  position:relative;
}

div#header ul#subnavbar {
  padding: 0.5em 0em 0 1em;
  background-color: #2f2f30;
  margin: 0 0 1em 0;
  border: 1px solid #444;
  height: 4em;
}

div#header ul#subnavbar {
  width: 100%;
}

div#header ul#navbar li>ul {
  display: none;
}

div#header ul#navbar li:hover>ul {
  display: block;
  position: absolute;
  background: #2f2f30;
  height: 3.5em;
  width: 100%;
  font-size: 0.6em;
  padding-top: 0.5em;
  /*border: 1px solid #DDD;*/
  border-bottom: none;
  margin-top:4px;
}

div#header ul#navbar li:hover>ul {
  height: 4.0em
}

div#header ul#navbar li.lang-select:hover {
  background: none;
  border:0;
  border-left: 1px solid rgba(0,0,0,0);
}

#share {
  height:4em;
  margin-left:1em;
}

#recommendations-paginator {
  width: 100%;
  float:left
}

#recommendations-paginator>span.recommended-prev {
  font-size: 2.5em;
  float: left;
  margin: 0.1em 0.25em 0.1em 45%;
  padding: 2px 6px;
  font-weight: bold;
  border: 1px solid #FF761C;
  color: #DDD;
}

#recommendations-paginator>span.recommended-next {
  font-size: 2.5em;
  float: left;
  margin: 0.1em 0 0.1em 0%;
  padding: 2px 6px;
  font-weight: bold;
  border: 1px solid #FF761C;
  color: #DDD;
}

div#header ul#navbar li.lang-select .theme-button-light {
    position: absolute;
    margin-top: 2px;
}

div#header ul#navbar li.lang-select .theme-button-dark {
    position: absolute;
    margin-left: 32px;
    margin-top: 2px;
}

div#header ul#navbar li.lang-select .theme-button-selected {
    position: absolute;
    margin-top: 2px;
}
  
}
