/* Ajustes para de.wiktionary.org (estilo completo) */

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("de.wiktionary.org") {

.mw-cite-backlink,.cite-accessibility-label
{
    user-select: none;
}

.mw-references-columns
{
    column-width: 30em;
}

.mw-references-columns li
{
    page-break-inside: avoid;
    break-inside: avoid-column;
}

ol.references
{
    counter-reset: mw-ref-extends-parent list-item;
}

ol.references > li
{
    counter-increment: mw-ref-extends-parent;
    counter-reset: mw-ref-extends-child;
}

ol.references .mw-extended-references
{
    list-style: none;
    margin-left: 2em;
}

.mw-extended-references > li:before
{
    counter-increment: mw-ref-extends-child;
    content: counter(mw-ref-extends-parent,decimal) '.' counter(mw-ref-extends-child,decimal) '. ';
}

sup.reference
{
    unicode-bidi: isolate;
    white-space: nowrap;
    font-weight: normal;
    font-style: normal;
}

ol.references li:target,sup.reference:target
{
    background-color: #eaf3ff;
}

.mw-ext-cite-error
{
    font-weight: bold;
    unicode-bidi: embed;
}

.mw-ext-cite-error code
{
    background-color: transparent;
    color: inherit;
    padding: 1px 2px;
}

.mw-cite-dir-ltr .reference-text
{
    direction: ltr;
    unicode-bidi: embed;
}

.mw-cite-dir-rtl .reference-text
{
    direction: rtl;
    unicode-bidi: embed;
}

#pt-notifications-alert .mw-echo-notifications-badge,#pt-notifications-notice .mw-echo-notifications-badge
{
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 2px;
    top: -5px;
    text-indent: -9999px;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    line-height: normal;
    box-sizing: border-box;
    opacity: 0.87;
}

#pt-notifications-alert .mw-echo-notifications-badge:hover,#pt-notifications-notice .mw-echo-notifications-badge:hover,#pt-notifications-alert .mw-echo-notifications-badge:active,#pt-notifications-notice .mw-echo-notifications-badge:active,#pt-notifications-alert .mw-echo-notifications-badge:focus,#pt-notifications-notice .mw-echo-notifications-badge:focus
{
    outline: 0;
}

#pt-notifications-alert .mw-echo-notifications-badge:focus,#pt-notifications-notice .mw-echo-notifications-badge:focus
{
    box-shadow: 0 0 0 1px #fff,0 0 0 3px #36c;
    opacity: 1;
}

#pt-notifications-alert .mw-echo-notifications-badge:focus:after,#pt-notifications-notice .mw-echo-notifications-badge:focus:after
{
    border-color: #36c;
}

#pt-notifications-alert .mw-echo-notifications-badge:after,#pt-notifications-notice .mw-echo-notifications-badge:after
{
    position: absolute;
    display: inline-block;
    cursor: pointer;
    top: 9px;
    text-indent: 0;
    left: 55%;
    font-size: 0.9em;
    font-weight: bold;
    padding: 0 0.3em;
    border: 1px solid #fff;
    border-radius: 2px;
    background-color: #72777d;
    content: attr(data-counter-text);
    color: #fff;
}

#pt-notifications-alert .mw-echo-notifications-badge-dimmed,#pt-notifications-notice .mw-echo-notifications-badge-dimmed
{
    opacity: 0.4;
}

#pt-notifications-alert .mw-echo-notifications-badge.mw-echo-notifications-badge-long-label,#pt-notifications-notice .mw-echo-notifications-badge.mw-echo-notifications-badge-long-label
{
    margin-right: 0.5em;
}

#pt-notifications-alert .mw-echo-notifications-badge.mw-echo-notifications-badge-long-label:after,#pt-notifications-notice .mw-echo-notifications-badge.mw-echo-notifications-badge-long-label:after
{
    left: 35%;
}

#pt-notifications-alert .mw-echo-notifications-badge.mw-echo-notifications-badge-all-read,#pt-notifications-notice .mw-echo-notifications-badge.mw-echo-notifications-badge-all-read
{
    opacity: 0.51;
}

#pt-notifications-alert .mw-echo-notifications-badge.mw-echo-notifications-badge-all-read:after,#pt-notifications-notice .mw-echo-notifications-badge.mw-echo-notifications-badge-all-read:after
{
    visibility: hidden;
}

#pt-notifications-alert .mw-echo-notifications-badge.oo-ui-flaggedElement-unseen:after,#pt-notifications-alert .mw-echo-notifications-badge.mw-echo-unseen-notifications:after
{
    background-color: #dd3333;
}

#pt-notifications-notice .mw-echo-notifications-badge.oo-ui-flaggedElement-unseen:after,#pt-notifications-notice .mw-echo-notifications-badge.mw-echo-unseen-notifications:after
{
    background-color: #3366cc;
}

#pt-notifications-notice .mw-echo-notifications-badge,#pt-notifications-alert .mw-echo-notifications-badge
{
    display: inline-block;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    top: -1px;
}

#pt-notifications-notice .mw-echo-notifications-badge:after,#pt-notifications-alert .mw-echo-notifications-badge:after
{
    top: 6px;
    left: 45%;
}

div.flaggedrevs_basic,div.flaggedrevs_quality,div.flaggedrevs_pristine,div.flaggedrevs_notice
{
    border: 1px solid #a2a9b1;
    padding: 5px;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0.5em 1em 0 0;
    text-align: center;
    clear: both;
}

div.flaggedrevs_short_basic img
{
    vertical-align: text-bottom;
}

div.flaggedrevs_basic
{
    background-color: #eaf3ff;
}

div.flaggedrevs_quality
{
    background-color: #d5fdf4;
}

div.flaggedrevs_pristine
{
    background-color: #fef6e7;
}

div.flaggedrevs_notice
{
    background-color: #f8f9fa;
}

table.flaggedrevs_editnotice,table.flaggedrevs_viewnotice
{
    padding: 3px;
    border: 2px solid #a2a9b1;
    background-color: #f8f9fa;
    text-align: left;
    width: 100%;
    clear: both;
}

div.flaggedrevs_diffnotice,div.flaggedrevs_preview
{
    border: 1px solid #c8ccd1;
    padding: 5px;
    text-align: center;
    clear: both;
}

div.flaggedrevs_diffnotice
{
    font-size: 85%;
    background-color: #f8f9fa;
}

div.flaggedrevs_preview
{
    background-color: #eaf3ff;
    color: #000;
}

span.flaggedrevs_important
{
    font-size: 115%;
    font-weight: bold;
}

div.flaggedrevs_notes
{
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    padding: 5px;
    font-size: 85%;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.fr-text-value
{
    width: 100px;
}

.fr-marker-20,.fr-marker-40,.fr-marker-60,.fr-marker-80,.fr-marker-100
{
    background-position: bottom left;
    background-repeat: no-repeat;
    padding-bottom: 3px;
}

div.flaggedrevs_short
{
    border: 1px solid #c8ccd1;
    background-color: #fff;
    font-size: 95%;
    font-weight: normal;
    margin: 0 0 0 1em;
    line-height: 16px;
    padding: 2px;
    float: right;
}

.sitedir-ltr div.flaggedrevs_short
{
    float: right;
    margin: 0 0 0 1em;
}

.sitedir-rtl div.flaggedrevs_short
{
    float: left;
    margin: 0 1em 0 0;
}

div.flaggedrevs_short_basic
{
    white-space: nowrap;
}

div.flaggedrevs_short_details
{
    border: 1px solid #a2a9b1;
    background-color: #fff;
    padding: 5px;
    position: absolute;
    top: 0;
    right: -2px;
    width: 25em;
}

.sitedir-ltr div.flaggedrevs_short_details
{
    right: -2px;
    left: auto;
}

.sitedir-rtl div.flaggedrevs_short_details
{
    left: -2px;
    right: auto;
}

.fr-text
{
    height: 1em;
    line-height: 1em;
    margin: 0 7px 0 0;
    padding: 0;
    font-weight: bold;
    width: 80px;
}

.fr-value20,.fr-value40,.fr-value60,.fr-value80,.fr-value100
{
    height: 1em;
    line-height: 1em;
    width: 95px;
    float: left;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-align: center;
}

.flaggedrevs-color-0
{
    background-color: #f8f9fa;
}

.flaggedrevs-color-1
{
    background-color: #eaf3ff;
}

.flaggedrevs-color-2
{
    background-color: #d5fdf4;
}

.flaggedrevs-color-3
{
    background-color: #fef6e7;
}

.flaggedrevs-pending
{
    background-color: #fff2cc;
}

.flaggedrevs-unreviewed
{
    background-color: #fef6e7;
}

a.fr-toggle-symbol
{
    white-space: nowrap;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
    margin: 0 0.3em;
}

a.fr-toggle-text
{
    font-weight: bold;
    cursor: pointer;
}

span.fr-toggle-arrow
{
    cursor: pointer;
    opacity: 0.87;
}

li.fr-hist-stable-margin
{
    margin-top: 2em;
}

span.flaggedrevs-icon
{
    margin-right: 0.2em;
    margin-left: 0.2em;
    opacity: 0.87;
}

.fr-diff-ratings
{
    font-size: 90%;
    font-weight: bold;
    line-height: 1em;
    width: 100%;
}

.fr-diff-to-stable
{
    line-height: 1em;
}

.fr-watchlist-pending-notice
{
    padding: 3px;
    margin-bottom: 5px;
    border: 1px solid #b32424;
    background-color: #fee7e6;
}

.fr-pending-long
{
    background-color: #eaecf0;
}

.fr-pending-long2
{
    background-color: #fee7e6;
}

.fr-pending-long3
{
    background-color: #c8ccd1;
}

.fr-unreviewed-unwatched
{
    background-color: #fee7e6;
}

span.fr-under-review
{
    background-color: #fc3;
    font-weight: bold;
}

.mw-fr-reviewlink
{
    font-weight: bold;
}

.fr-hist-quality-auto,.fr-hist-basic-auto,.fr-hist-quality-user,.fr-hist-basic-user,.mw-fr-hist-difflink
{
    font-size: 85%;
}

#mw-fr-diff-headeritems
{
    direction: ltr;
}

#mw-fr-stablediff
{
    background-color: #fff;
    text-align: left;
}

#p-lang .uls-settings-trigger
{
    border: 0;
    min-height: 16px;
    min-width: 16px;
    float: right;
    cursor: pointer;
}

#p-lang .uls-settings-trigger:focus
{
    outline: 1px solid #36c;
}

.skin-vector #p-lang .uls-settings-trigger
{
    margin-top: 8px;
}

#p-lang .uls-settings-trigger:hover
{
    background-position: center -16px;
}

.client-nojs #ca-ve-edit,.client-nojs .mw-editsection-divider,.client-nojs .mw-editsection-visualeditor,.ve-not-available #ca-ve-edit,.ve-not-available .mw-editsection-divider,.ve-not-available .mw-editsection-visualeditor
{
    display: none;
}

.client-js .mw-content-ltr .mw-editsection-bracket:first-of-type,.client-js .mw-content-rtl .mw-editsection-bracket:not(:first-of-type)
{
    margin-right: 0.25em;
    color: #54595d;
}

.client-js .mw-content-rtl .mw-editsection-bracket:first-of-type,.client-js .mw-content-ltr .mw-editsection-bracket:not(:first-of-type)
{
    margin-left: 0.25em;
    color: #54595d;
}

.portlet .badge-goodarticle,.portlet .badge-goodlist,.portlet .badge-recommendedarticle
{
    list-style-image: url(/w/extensions/WikimediaBadges/resources/images/badge-silver-star.png?70a8c);
}

.portlet .badge-featuredarticle,.portlet .badge-featuredportal,.portlet .badge-featuredlist
{
    list-style-image: url(/w/extensions/WikimediaBadges/resources/images/badge-golden-star.png?ed948);
}

.portlet .badge-problematic
{
    list-style-image: url(/w/extensions/WikimediaBadges/resources/images/badge-problematic.png?f3177);
}

.portlet .badge-proofread
{
    list-style-image: url(/w/extensions/WikimediaBadges/resources/images/badge-proofread.png?e81f9);
}

.portlet .badge-validated
{
    list-style-image: url(/w/extensions/WikimediaBadges/resources/images/badge-validated.png?6232c);
}

.portlet .badge-digitaldocument
{
    list-style-image: url(/w/extensions/WikimediaBadges/resources/images/badge-digitaldocument.png?d1c50);
}

.client-js ol.mw-collapsible:before,.client-js ul.mw-collapsible:before,.client-js .mw-collapsible-toggle-li
{
    display: list-item;
    list-style: none;
    margin-bottom: 0.1em;
}

.client-js ol.mw-made-collapsible:before,.client-js ul.mw-made-collapsible:before
{
    display: none;
}

.client-js ol.mw-collapsible:not(.mw-made-collapsible):before,.client-js ul.mw-collapsible:not(.mw-made-collapsible):before,.client-js table.mw-collapsible:not(.mw-made-collapsible) :first-child tr:first-child th:last-child:before,.client-js table.mw-collapsible:not(.mw-made-collapsible) > caption:first-child:after,.client-js div.mw-collapsible:not(.mw-made-collapsible):before
{
    content: '[Einklappen]';
}

.client-js td.mw-collapsed:not(.mw-made-collapsible):before,.client-js table.mw-collapsed:not(.mw-made-collapsible) :first-child tr:first-child th:last-child:before,.client-js table.mw-collapsed:not(.mw-made-collapsible) > caption:first-child:after,.client-js div.mw-collapsed:not(.mw-made-collapsible):before
{
    content: '[Ausklappen]';
}

.client-js .mw-collapsible[id^='mw-customcollapsible'] th:before,.client-js .mw-collapsible[id^='mw-customcollapsible']:before
{
    content: none !important;
}

.client-js table.mw-collapsible:not(.mw-made-collapsible) > caption:first-child:after
{
    float: none;
    display: block;
}

.client-js .mw-collapsed:not(.mw-made-collapsible) > p,.client-js .mw-collapsed:not(.mw-made-collapsible) > table,.client-js .mw-collapsed:not(.mw-made-collapsible) > thead + tbody,.client-js .mw-collapsed:not(.mw-made-collapsible) tr:not(:first-child),.client-js .mw-collapsed:not(.mw-made-collapsible) .mw-collapsible-content
{
    display: none;
}

.mw-collapsible:not(.mw-made-collapsible) th:before,.mw-collapsible:not(.mw-made-collapsible):before,.mw-collapsible-toggle
{
    float: right;
}

.mw-content-ltr .mw-collapsible:not(.mw-made-collapsible) th:before,.mw-content-rtl .mw-content-ltr .mw-collapsible:not(.mw-made-collapsible) th:before,.mw-content-ltr .mw-collapsible:not(.mw-made-collapsible):before,.mw-content-rtl .mw-content-ltr .mw-collapsible:not(.mw-made-collapsible):before,.mw-content-ltr .mw-collapsible-toggle,.mw-content-rtl .mw-content-ltr .mw-collapsible-toggle
{
    float: right;
}

.mw-content-rtl .mw-collapsible:not(.mw-made-collapsible) th:before,.mw-content-ltr .mw-content-rtl .mw-collapsible:not(.mw-made-collapsible) th:before,.mw-content-rtl .mw-collapsible:not(.mw-made-collapsible):before,.mw-content-ltr .mw-content-rtl .mw-collapsible:not(.mw-made-collapsible):before,.mw-content-rtl .mw-collapsible-toggle,.mw-content-ltr .mw-content-rtl .mw-collapsible-toggle
{
    float: left;
}

li .mw-collapsible-toggle,.mw-content-ltr li .mw-collapsible-toggle,.mw-content-rtl li .mw-collapsible-toggle,.mw-content-ltr .mw-content-rtl li .mw-collapsible-toggle,.mw-content-rtl .mw-content-ltr li .mw-collapsible-toggle
{
    float: none;
}

ol.mw-collapsible:not(.mw-made-collapsible):before,ul.mw-collapsible:not(.mw-made-collapsible):before
{
    float: none !important;
}

@media screen
{
    .mw-parser-output a.external,.link-https, .mw-parser-output a.external[href^='mailto:'],.link-mailto, .mw-parser-output a.external[href^='ftp://'],.link-ftp, .mw-parser-output a.external[href^='irc://'],.mw-parser-output a.external[href^='ircs://'],.link-irc, .mw-parser-output a.external[href$='.ogg'],.mw-parser-output a.external[href$='.OGG'],.mw-parser-output a.external[href$='.mid'],.mw-parser-output a.external[href$='.MID'],.mw-parser-output a.external[href$='.midi'],.mw-parser-output a.external[href$='.MIDI'],.mw-parser-output a.external[href$='.mp3'],.mw-parser-output a.external[href$='.MP3'],.mw-parser-output a.external[href$='.wav'],.mw-parser-output a.external[href$='.WAV'],.mw-parser-output a.external[href$='.wma'],.mw-parser-output a.external[href$='.WMA'],.link-audio, .mw-parser-output a.external[href$='.ogm'],.mw-parser-output a.external[href$='.OGM'],.mw-parser-output a.external[href$='.avi'],.mw-parser-output a.external[href$='.AVI'],.mw-parser-output a.external[href$='.mpeg'],.mw-parser-output a.external[href$='.MPEG'],.mw-parser-output a.external[href$='.mpg'],.mw-parser-output a.external[href$='.MPG'],.link-video, .mw-parser-output a.external[href$='.pdf'],.mw-parser-output a.external[href$='.PDF'],.mw-parser-output a.external[href*='.pdf#'],.mw-parser-output a.external[href*='.PDF#'],.mw-parser-output a.external[href*='.pdf?'],.mw-parser-output a.external[href*='.PDF?'],.link-document
    {
    padding-right: 13px;
    }

    .mw-parser-output a.extiw,.mw-parser-output a.extiw:active
    {
    color: #36b;
    }

    .mw-parser-output a.external
    {
    color: #36b;
    }
}

.toctogglecheckbox:checked ~ ul
{
    display: none;
}

@media screen
{
    :not(:checked) > .toctogglecheckbox
    {
    display: inline !important;
    position: absolute;
    opacity: 0;
    z-index: -1;
    }

    .toctogglespan
    {
    font-size: 94%;
    }

    :not(:checked) > .toctogglespan:before
    {
    content: ' [';
    }

    :not(:checked) > .toctogglespan:after
    {
    content: ']';
    }

    .toctogglelabel
    {
    cursor: pointer;
    color: #0645ad;
    }

    .toctogglelabel:hover
    {
    text-decoration: underline;
    }

    .toctogglecheckbox:focus + .toctitle .toctogglelabel
    {
    text-decoration: underline;
    outline: dotted 1px;
    }

    .toctogglecheckbox:checked + .toctitle .toctogglelabel:after
    {
    content: 'Anzeigen';
    }

    .toctogglecheckbox:not(:checked) + .toctitle .toctogglelabel:after
    {
    content: 'Verbergen';
    }
}

.mw-widget-complexNamespaceInputWidget .mw-widget-namespaceInputWidget,.mw-widget-complexNamespaceInputWidget .oo-ui-fieldLayout
{
    display: inline-block;
    margin-right: 1em;
}

.mw-widget-complexNamespaceInputWidget .oo-ui-fieldLayout
{
    vertical-align: middle;
    margin-bottom: 0;
}

.mw-widget-complexNamespaceInputWidget .oo-ui-fieldLayout.oo-ui-fieldLayout-align-inline.oo-ui-labelElement > .oo-ui-fieldLayout-body > .oo-ui-labelElement-label
{
    padding-left: 0.5em;
}

.mw-widget-complexNamespaceInputWidget .mw-widget-namespaceInputWidget
{
    max-width: 20em;
}

.mw-widget-complexTitleInputWidget .mw-widget-namespaceInputWidget,.mw-widget-complexTitleInputWidget .mw-widget-titleInputWidget
{
    display: inline-block;
}

.mw-widget-complexTitleInputWidget .mw-widget-namespaceInputWidget
{
    max-width: 20em;
    margin-right: 0.5em;
}

.mw-widget-complexTitleInputWidget .mw-widget-titleInputWidget
{
    max-width: 29.5em;
}

.oo-ui-element-hidden
{
    display: none !important;
}

.oo-ui-buttonElement
{
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

.oo-ui-buttonElement > .oo-ui-buttonElement-button
{
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    font-family: inherit;
    font-size: inherit;
    white-space: nowrap;
    user-select: none;
}

.oo-ui-buttonElement.oo-ui-widget-disabled > .oo-ui-buttonElement-button
{
    cursor: default;
}

.oo-ui-buttonElement-frameless
{
    position: relative;
}

.oo-ui-buttonElement-framed > .oo-ui-buttonElement-button
{
    vertical-align: top;
    text-align: center;
}

.oo-ui-buttonElement > .oo-ui-buttonElement-button
{
    color: #333;
    position: relative;
    border-radius: 3px;
}

.oo-ui-buttonElement > .oo-ui-buttonElement-button:focus
{
    outline: 0;
}

.oo-ui-buttonElement > input.oo-ui-buttonElement-button,.oo-ui-buttonElement.oo-ui-labelElement .oo-ui-labelElement-label
{
    line-height: 1.875em;
}

.oo-ui-buttonElement.oo-ui-indicatorElement > .oo-ui-buttonElement-button > .oo-ui-indicatorElement-indicator,.oo-ui-buttonElement.oo-ui-labelElement > .oo-ui-buttonElement-button > .oo-ui-labelElement-label,.oo-ui-buttonElement-frameless.oo-ui-iconElement > .oo-ui-buttonElement-button > .oo-ui-iconElement-icon
{
    display: inline-block;
    vertical-align: middle;
}

.oo-ui-buttonElement.oo-ui-iconElement .oo-ui-indicatorElement-indicator
{
    margin-left: 0.46875em;
}

.oo-ui-buttonElement.oo-ui-indicatorElement .oo-ui-indicatorElement-indicator
{
    margin: 0.46875em;
}

.oo-ui-buttonElement-frameless > .oo-ui-buttonElement-button > .oo-ui-iconElement-icon
{
    transition: opacity 250ms;
    transform: translateZ(0);
}

.oo-ui-buttonElement-frameless > .oo-ui-buttonElement-button > .oo-ui-labelElement-label
{
    color: #333;
}

.oo-ui-buttonElement-frameless > .oo-ui-buttonElement-button:hover > .oo-ui-iconElement-icon,.oo-ui-buttonElement-frameless > .oo-ui-buttonElement-button:focus > .oo-ui-iconElement-icon
{
    opacity: 1;
}

.oo-ui-buttonElement-frameless > .oo-ui-buttonElement-button:hover > .oo-ui-labelElement-label,.oo-ui-buttonElement-frameless > .oo-ui-buttonElement-button:focus > .oo-ui-labelElement-label
{
    color: #000;
}

.oo-ui-buttonElement-frameless > .oo-ui-buttonElement-button:hover
{
    background-color: rgba(0,0,0,0.01960784);
    color: #000;
}

.oo-ui-buttonElement-frameless > .oo-ui-buttonElement-button:active
{
    background-color: rgba(0,0,0,0.13333333);
    color: #000;
}

.oo-ui-buttonElement-frameless.oo-ui-labelElement:first-child,.oo-ui-buttonElement-frameless.oo-ui-iconElement:first-child
{
    margin-left: -0.3125em;
}

.oo-ui-buttonElement-frameless.oo-ui-labelElement > .oo-ui-buttonElement-button,.oo-ui-buttonElement-frameless.oo-ui-iconElement > .oo-ui-buttonElement-button
{
    padding: 0.3125em 0.3125em;
}

.oo-ui-buttonElement-frameless.oo-ui-labelElement.oo-ui-indicatorElement > .oo-ui-buttonElement-button,.oo-ui-buttonElement-frameless.oo-ui-iconElement.oo-ui-indicatorElement > .oo-ui-buttonElement-button
{
    padding: 0.3125em 0.3125em;
}

.oo-ui-buttonElement-frameless.oo-ui-labelElement > .oo-ui-buttonElement-button > .oo-ui-labelElement-label
{
    color: #333;
    margin-left: 0.25em;
}

.oo-ui-buttonElement-frameless.oo-ui-labelElement > .oo-ui-buttonElement-button > .oo-ui-iconElement-noIcon + .oo-ui-labelElement-label
{
    margin-left: 0;
}

.oo-ui-buttonElement-frameless.oo-ui-indicatorElement > .oo-ui-buttonElement-button
{
    padding: 0;
}

.oo-ui-buttonElement-frameless > input.oo-ui-buttonElement-button
{
    padding-left: 0.25em;
    color: #333;
}

.oo-ui-buttonElement-frameless > input.oo-ui-buttonElement-button:hover,.oo-ui-buttonElement-frameless > input.oo-ui-buttonElement-button:focus
{
    color: #000;
}

.oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-iconElement > .oo-ui-buttonElement-button:focus,.oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-labelElement > .oo-ui-buttonElement-button:focus
{
    border-color: #ace;
    box-shadow: 0 0 2px 2px #ace;
}

.oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-iconElement > .oo-ui-buttonElement-button:focus:active,.oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-labelElement > .oo-ui-buttonElement-button:focus:active
{
    border-color: transparent;
    box-shadow: none;
}

.oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-indicatorElement:not(.oo-ui-iconElement):not(.oo-ui-labelElement) > .oo-ui-buttonElement-button
{
    border-radius: 3px;
}

.oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-indicatorElement:not(.oo-ui-iconElement):not(.oo-ui-labelElement) > .oo-ui-buttonElement-button:focus
{
    box-shadow: 0 0 2px 2px #ace;
}

.oo-ui-buttonElement-frameless.oo-ui-widget-enabled.oo-ui-indicatorElement:not(.oo-ui-iconElement):not(.oo-ui-labelElement) > .oo-ui-buttonElement-button:focus:active
{
    box-shadow: none;
}

.oo-ui-buttonElement-frameless.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button > .oo-ui-labelElement-label
{
    color: #087ecc;
}

.oo-ui-buttonElement-frameless.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button > .oo-ui-labelElement-label
{
    color: #d45353;
}

.oo-ui-buttonElement-frameless.oo-ui-widget-disabled > .oo-ui-buttonElement-button > .oo-ui-iconElement-icon
{
    opacity: 0.2;
}

.oo-ui-buttonElement-frameless.oo-ui-widget-disabled > .oo-ui-buttonElement-button > .oo-ui-labelElement-label
{
    color: #ccc;
}

.oo-ui-buttonElement-framed > .oo-ui-buttonElement-button
{
    background-color: #ebebeb;
    background-image: linear-gradient(to bottom,#fafafa 0,#ddd 100%);
    border: 1px solid #ccc;
    padding: 0.234375em 0.78125em;
    text-shadow: 0 1px 1px rgba(255,255,255,0.5);
    transition: border-color 100ms;
}

.oo-ui-buttonElement-framed > .oo-ui-buttonElement-button:hover
{
    border-color: #aaa;
}

.oo-ui-buttonElement-framed > .oo-ui-buttonElement-button:focus
{
    border-color: #ace;
    box-shadow: 0 0 2px 2px #ace;
}

.oo-ui-buttonElement-framed > input.oo-ui-buttonElement-button,.oo-ui-buttonElement-framed.oo-ui-labelElement > .oo-ui-buttonElement-button > .oo-ui-labelElement-label
{
    line-height: 1.875em;
}

.oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active,.oo-ui-buttonElement-framed.oo-ui-buttonElement-active > .oo-ui-buttonElement-button,.oo-ui-buttonElement-framed.oo-ui-buttonElement-pressed > .oo-ui-buttonElement-button
{
    background-color: #ebebeb;
    background-image: linear-gradient(to bottom,#ddd 0,#fafafa 100%);
    color: #000;
    border-color: #ccc;
    box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.07);
}

.oo-ui-buttonElement-framed.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active:focus,.oo-ui-buttonElement-framed.oo-ui-buttonElement-active > .oo-ui-buttonElement-button:focus,.oo-ui-buttonElement-framed.oo-ui-buttonElement-pressed > .oo-ui-buttonElement-button:focus
{
    border-color: #ace;
    box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.07),0 0 2px 2px #ace;
}

.oo-ui-buttonElement-framed.oo-ui-iconElement > .oo-ui-buttonElement-button > .oo-ui-iconElement-icon
{
    margin-left: -0.34375em;
    margin-right: -0.34375em;
    display: inline-block;
    vertical-align: middle;
}

.oo-ui-buttonElement-framed.oo-ui-iconElement.oo-ui-labelElement > .oo-ui-buttonElement-button > .oo-ui-iconElement-icon
{
    margin-right: 0.3em;
}

.oo-ui-buttonElement-framed.oo-ui-indicatorElement > .oo-ui-buttonElement-button > .oo-ui-indicatorElement-indicator
{
    margin-left: -0.005em;
    margin-right: -0.005em;
}

.oo-ui-buttonElement-framed.oo-ui-indicatorElement.oo-ui-labelElement > .oo-ui-buttonElement-button > .oo-ui-indicatorElement-indicator,.oo-ui-buttonElement-framed.oo-ui-indicatorElement.oo-ui-iconElement:not(.oo-ui-labelElement) > .oo-ui-buttonElement-button > .oo-ui-indicatorElement-indicator
{
    margin-left: 0.46875em;
    margin-right: -0.275em;
}

.oo-ui-buttonElement-framed.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button
{
    background-color: #cde7f4;
    background-image: linear-gradient(to bottom,#eaf4fa 0,#b0d9ee 100%);
    border: 1px solid #a6cee1;
}

.oo-ui-buttonElement-framed.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button:hover
{
    border-color: #9dc2d4;
}

.oo-ui-buttonElement-framed.oo-ui-flaggedElement-progressive.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active,.oo-ui-buttonElement-framed.oo-ui-flaggedElement-progressive.oo-ui-buttonElement-active > .oo-ui-buttonElement-button,.oo-ui-buttonElement-framed.oo-ui-flaggedElement-progressive.oo-ui-buttonElement-pressed > .oo-ui-buttonElement-button
{
    background-color: #cde7f4;
    background-image: linear-gradient(to bottom,#b0d9ee 0,#eaf4fa 100%);
    border: 1px solid #a6cee1;
}

.oo-ui-buttonElement-framed.oo-ui-flaggedElement-destructive > .oo-ui-buttonElement-button
{
    color: #d45353;
}

.oo-ui-buttonElement-framed.oo-ui-widget-disabled > .oo-ui-buttonElement-button,.oo-ui-buttonElement-framed.oo-ui-widget-disabled.oo-ui-buttonElement-active > .oo-ui-buttonElement-button,.oo-ui-buttonElement-framed.oo-ui-widget-disabled.oo-ui-buttonElement-pressed > .oo-ui-buttonElement-button
{
    opacity: 0.5;
    transform: translateZ(0);
    box-shadow: none;
    color: #333;
    background: #eee;
    border-color: #ccc;
}

.oo-ui-buttonElement-framed.oo-ui-widget-disabled > .oo-ui-buttonElement-button:hover,.oo-ui-buttonElement-framed.oo-ui-widget-disabled.oo-ui-buttonElement-active > .oo-ui-buttonElement-button:hover,.oo-ui-buttonElement-framed.oo-ui-widget-disabled.oo-ui-buttonElement-pressed > .oo-ui-buttonElement-button:hover,.oo-ui-buttonElement-framed.oo-ui-widget-disabled > .oo-ui-buttonElement-button:focus,.oo-ui-buttonElement-framed.oo-ui-widget-disabled.oo-ui-buttonElement-active > .oo-ui-buttonElement-button:focus,.oo-ui-buttonElement-framed.oo-ui-widget-disabled.oo-ui-buttonElement-pressed > .oo-ui-buttonElement-button:focus
{
    border-color: #ccc;
    box-shadow: none;
}

.oo-ui-buttonElement-framed.oo-ui-widget-disabled.oo-ui-buttonElement-active > .oo-ui-buttonElement-button,.oo-ui-buttonElement-framed.oo-ui-widget-disabled.oo-ui-buttonElement-active > .oo-ui-buttonElement-button:hover,.oo-ui-buttonElement-framed.oo-ui-widget-disabled.oo-ui-buttonElement-active > .oo-ui-buttonElement-button:focus
{
    background-color: #ebebeb;
    background-image: linear-gradient(to bottom,#ddd 0,#fafafa 100%);
    box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.07);
}

.oo-ui-clippableElement-clippable
{
    box-sizing: border-box;
    min-height: 40px;
}

.oo-ui-floatableElement
{
    position: absolute;
}

.oo-ui-labelElement .oo-ui-labelElement-label,.oo-ui-labelElement.oo-ui-labelElement-label
{
    box-sizing: border-box;
}

.oo-ui-labelElement-invisible
{
    display: block;
    position: absolute;
    clip: rect(1px,1px,1px,1px);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}

.oo-ui-labelElement .oo-ui-labelElement-label-highlight
{
    font-weight: bold;
}

.oo-ui-iconElement-icon
{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    min-width: 20px;
    width: 1.875em;
    min-height: 20px;
    height: 100%;
}

.oo-ui-iconElement-noIcon
{
    display: none;
}

.oo-ui-iconElement-icon
{
    position: static;
    top: auto;
    width: 1.5625em;
    height: 1.5625em;
    margin: 0.15625em;
    opacity: 0.8;
}

.oo-ui-indicatorElement-indicator
{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    min-width: 12px;
    width: 0.9375em;
    min-height: 12px;
    height: 100%;
}

.oo-ui-indicatorElement-noIndicator
{
    display: none;
}

.oo-ui-indicatorElement-indicator
{
    position: static;
    top: auto;
    height: 0.9375em;
    opacity: 0.8;
}

.oo-ui-pendingElement-pending
{
    background-color: #ddd;
    background-image: linear-gradient(135deg,#fff 25%,transparent 25%,transparent 50%,#fff 50%,#fff 75%,transparent 75%,transparent);
    background-size: 1.5625em 1.5625em;
    animation: oo-ui-pendingElement-stripes 650ms linear infinite;
}

@keyframes oo-ui-pendingElement-stripes
{
    0%
    {
    background-position: -1.5625em 0;
    }

    100%
    {
    background-position: 0 0;
    }
}

.oo-ui-fieldLayout
{
    display: block;
    margin-top: 0.75em;
}

.oo-ui-fieldLayout:before,.oo-ui-fieldLayout:after
{
    content: ' ';
    display: table;
}

.oo-ui-fieldLayout:after
{
    clear: both;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-left > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header,.oo-ui-fieldLayout.oo-ui-fieldLayout-align-right > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header
{
    word-wrap: break-word;
    hyphens: auto;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-left > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header,.oo-ui-fieldLayout.oo-ui-fieldLayout-align-right > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header,.oo-ui-fieldLayout.oo-ui-fieldLayout-align-left > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-help,.oo-ui-fieldLayout.oo-ui-fieldLayout-align-right > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-help,.oo-ui-fieldLayout.oo-ui-fieldLayout-align-left > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-field,.oo-ui-fieldLayout.oo-ui-fieldLayout-align-right > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-field
{
    display: block;
    float: left;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-right > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header
{
    text-align: right;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-inline
{
    word-wrap: break-word;
    hyphens: auto;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-inline > .oo-ui-fieldLayout-body
{
    display: table;
    width: 100%;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-inline > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header,.oo-ui-fieldLayout.oo-ui-fieldLayout-align-inline > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-field
{
    display: table-cell;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-inline > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header
{
    vertical-align: middle;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-inline > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-field
{
    width: 1px;
    vertical-align: top;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-top > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header,.oo-ui-fieldLayout.oo-ui-fieldLayout-align-top > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-field
{
    display: block;
}

.oo-ui-fieldLayout .oo-ui-fieldLayout-help
{
    float: right;
}

.oo-ui-fieldLayout .oo-ui-fieldLayout-help:not(.oo-ui-popupButtonWidget) > .oo-ui-buttonElement-button
{
    cursor: help;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-left > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-help,.oo-ui-fieldLayout.oo-ui-fieldLayout-align-right > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-help
{
    margin-right: 0;
    margin-left: -2.5em;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-left > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-field,.oo-ui-fieldLayout.oo-ui-fieldLayout-align-right > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-field
{
    width: 60%;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-left.oo-ui-labelElement > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header,.oo-ui-fieldLayout.oo-ui-fieldLayout-align-right.oo-ui-labelElement > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header
{
    margin-right: 5%;
    width: 35%;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-left.oo-ui-labelElement > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header > .oo-ui-labelElement-label,.oo-ui-fieldLayout.oo-ui-fieldLayout-align-right.oo-ui-labelElement > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header > .oo-ui-labelElement-label
{
    display: block;
    padding-top: 0.5em;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-inline
{
    margin-top: 1em;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-inline > .oo-ui-fieldLayout-body
{
    max-width: 50em;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-inline.oo-ui-labelElement > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header
{
    padding-left: 0.5em;
}

.oo-ui-fieldLayout:first-child
{
    margin-top: 0;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-top.oo-ui-labelElement > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header
{
    max-width: 50em;
    margin-bottom: 0.25em;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-top > .oo-ui-fieldLayout-body > .oo-ui-inline-help
{
    margin-top: 0.25em;
}

.oo-ui-fieldLayout.oo-ui-fieldLayout-align-top .oo-ui-fieldLayout-help,.oo-ui-fieldLayout.oo-ui-fieldLayout-align-inline .oo-ui-fieldLayout-help
{
    margin-top: -0.3em;
    margin-right: -0.625em;
}

.oo-ui-fieldLayout > .oo-ui-popupButtonWidget
{
    margin-right: 0;
    margin-top: 0.25em;
}

.oo-ui-fieldLayout > .oo-ui-popupButtonWidget:last-child
{
    margin-right: 0;
}

.oo-ui-fieldLayout-disabled > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header > .oo-ui-labelElement-label
{
    color: #ccc;
}

.oo-ui-fieldLayout-messages
{
    box-sizing: border-box;
    max-width: 50em;
    margin: 0.25em 0 0 0.25em;
    padding: 0;
}

.oo-ui-fieldLayout-messages > .oo-ui-messageWidget
{
    margin-left: 0.15625em;
    margin-right: 0.15625em;
}

.oo-ui-fieldLayout-messages > .oo-ui-messageWidget:first-child
{
    margin-top: 0.3125em;
}

.oo-ui-actionFieldLayout-input,.oo-ui-actionFieldLayout-button
{
    display: table-cell;
    vertical-align: middle;
}

.oo-ui-actionFieldLayout-button
{
    width: 1%;
    white-space: nowrap;
}

.oo-ui-actionFieldLayout.oo-ui-fieldLayout-align-top
{
    max-width: 50em;
}

.oo-ui-actionFieldLayout .oo-ui-actionFieldLayout-input .oo-ui-widget:not(.oo-ui-textInputWidget)
{
    margin-right: 1em;
}

.oo-ui-actionFieldLayout .oo-ui-actionFieldLayout-input .oo-ui-widget.oo-ui-textInputWidget > .oo-ui-inputWidget-input
{
    border-radius: 3px 0 0 3px;
    position: relative;
}

.oo-ui-actionFieldLayout .oo-ui-actionFieldLayout-button .oo-ui-buttonElement-framed > .oo-ui-buttonElement-button
{
    border-radius: 0 3px 3px 0;
    margin-left: -1px;
}

.oo-ui-actionFieldLayout .oo-ui-actionFieldLayout-input > .oo-ui-textInputWidget > .oo-ui-inputWidget-input:hover,.oo-ui-actionFieldLayout .oo-ui-actionFieldLayout-input > .oo-ui-textInputWidget > .oo-ui-inputWidget-input:focus,.oo-ui-actionFieldLayout .oo-ui-actionFieldLayout-input > .oo-ui-textInputWidget.oo-ui-flaggedElement-invalid > .oo-ui-inputWidget-input,.oo-ui-actionFieldLayout .oo-ui-actionFieldLayout-input > .oo-ui-textInputWidget > .oo-ui-inputWidget-input:hover ~ *,.oo-ui-actionFieldLayout .oo-ui-actionFieldLayout-input > .oo-ui-textInputWidget > .oo-ui-inputWidget-input:focus ~ *,.oo-ui-actionFieldLayout .oo-ui-actionFieldLayout-input > .oo-ui-textInputWidget.oo-ui-flaggedElement-invalid > .oo-ui-inputWidget-input ~ *
{
    z-index: 1;
}

.oo-ui-actionFieldLayout .oo-ui-actionFieldLayout-button > .oo-ui-buttonElement > .oo-ui-buttonElement-button:hover,.oo-ui-actionFieldLayout .oo-ui-actionFieldLayout-button > .oo-ui-buttonElement > .oo-ui-buttonElement-button:focus
{
    z-index: 1;
}

.oo-ui-fieldsetLayout
{
    position: relative;
    min-width: 0;
    margin: 0;
    border: 0;
    padding: 0.01px 0 0 0;
}

.oo-ui-fieldsetLayout > .oo-ui-fieldsetLayout-header
{
    display: none;
}

.oo-ui-fieldsetLayout.oo-ui-iconElement > .oo-ui-fieldsetLayout-header,.oo-ui-fieldsetLayout.oo-ui-labelElement > .oo-ui-fieldsetLayout-header
{
    color: inherit;
    display: inline-table;
    box-sizing: border-box;
    padding: 0;
    white-space: normal;
    float: left;
    width: 100%;
}

.oo-ui-fieldsetLayout > .oo-ui-inline-help
{
    clear: left;
}

.oo-ui-fieldsetLayout-group
{
    clear: both;
}

.oo-ui-fieldsetLayout .oo-ui-fieldsetLayout-help
{
    float: right;
}

.oo-ui-fieldsetLayout .oo-ui-fieldsetLayout-help:not(.oo-ui-popupButtonWidget) > .oo-ui-buttonElement-button
{
    cursor: help;
}

.oo-ui-fieldsetLayout .oo-ui-fieldsetLayout-header
{
    max-width: 50em;
}

.oo-ui-fieldsetLayout + .oo-ui-fieldsetLayout,.oo-ui-fieldsetLayout + .oo-ui-formLayout
{
    margin-top: 2em;
}

.oo-ui-fieldsetLayout.oo-ui-labelElement > .oo-ui-fieldsetLayout-header > .oo-ui-labelElement-label
{
    display: inline-block;
    font-size: 1.15em;
    margin-bottom: 0.5em;
    padding: 0.25em 0;
    font-weight: bold;
}

.oo-ui-fieldsetLayout.oo-ui-iconElement > .oo-ui-fieldsetLayout-header > .oo-ui-labelElement-label
{
    padding-left: 2em;
    line-height: 1.8em;
}

.oo-ui-fieldsetLayout.oo-ui-iconElement > .oo-ui-fieldsetLayout-header > .oo-ui-iconElement-icon
{
    display: block;
    position: absolute;
    top: 0.25em;
    left: 0;
}

.oo-ui-fieldsetLayout > .oo-ui-inline-help
{
    margin-bottom: 0.5em;
}

.oo-ui-fieldsetLayout > .oo-ui-fieldsetLayout-header > .oo-ui-popupButtonWidget
{
    margin-right: 0;
}

.oo-ui-fieldsetLayout > .oo-ui-fieldsetLayout-header > .oo-ui-popupButtonWidget:last-child
{
    margin-right: 0;
}

.oo-ui-formLayout + .oo-ui-fieldsetLayout,.oo-ui-formLayout + .oo-ui-formLayout
{
    margin-top: 2em;
}

.oo-ui-panelLayout
{
    position: relative;
}

.oo-ui-panelLayout-scrollable
{
    overflow: auto;
}

.oo-ui-panelLayout-expanded
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.oo-ui-panelLayout-padded
{
    padding: 1em 1em 1.25em;
}

.oo-ui-panelLayout-framed
{
    border: 1px solid #ccc;
    border-radius: 3px;
}

.oo-ui-panelLayout-padded.oo-ui-panelLayout-framed
{
    margin: 1em 0;
}

.oo-ui-horizontalLayout > .oo-ui-widget
{
    display: inline-block;
    vertical-align: middle;
}

.oo-ui-horizontalLayout > .oo-ui-layout
{
    display: inline-block;
}

.oo-ui-horizontalLayout > .oo-ui-layout,.oo-ui-horizontalLayout > .oo-ui-widget
{
    margin-right: 0.5em;
}

.oo-ui-horizontalLayout > .oo-ui-layout:last-child,.oo-ui-horizontalLayout > .oo-ui-widget:last-child
{
    margin-right: 0;
}

.oo-ui-horizontalLayout > .oo-ui-layout
{
    margin-top: 0;
}

.oo-ui-horizontalLayout > .oo-ui-widget
{
    margin-bottom: 0.5em;
}

.oo-ui-optionWidget
{
    position: relative;
    display: block;
    border: 0;
}

.oo-ui-optionWidget.oo-ui-widget-enabled
{
    cursor: pointer;
}

.oo-ui-optionWidget.oo-ui-widget-disabled
{
    cursor: default;
}

.oo-ui-optionWidget.oo-ui-labelElement > .oo-ui-labelElement-label
{
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.oo-ui-optionWidget-highlighted
{
    background-color: #e1f3ff;
}

.oo-ui-optionWidget .oo-ui-labelElement-label
{
    line-height: 1.5em;
}

.oo-ui-selectWidget-unpressed .oo-ui-optionWidget-selected
{
    background-color: #a7dcff;
}

.oo-ui-selectWidget-pressed .oo-ui-optionWidget-pressed,.oo-ui-selectWidget-pressed .oo-ui-optionWidget-pressed.oo-ui-optionWidget-highlighted,.oo-ui-selectWidget-pressed .oo-ui-optionWidget-pressed.oo-ui-optionWidget-highlighted.oo-ui-optionWidget-selected
{
    background-color: #a7dcff;
}

.oo-ui-optionWidget.oo-ui-widget-disabled
{
    color: #ccc;
}

.oo-ui-decoratedOptionWidget
{
    padding: 0.5em 2em 0.5em 3em;
}

.oo-ui-decoratedOptionWidget .oo-ui-iconElement-icon,.oo-ui-decoratedOptionWidget .oo-ui-indicatorElement-indicator
{
    position: absolute;
    top: 0;
    height: 100%;
}

.oo-ui-decoratedOptionWidget .oo-ui-iconElement-icon
{
    left: 0.5em;
    margin: 0;
}

.oo-ui-decoratedOptionWidget .oo-ui-indicatorElement-indicator
{
    right: 0.5em;
}

.oo-ui-decoratedOptionWidget.oo-ui-widget-disabled .oo-ui-iconElement-icon,.oo-ui-decoratedOptionWidget.oo-ui-widget-disabled .oo-ui-indicatorElement-indicator
{
    opacity: 0.2;
}

.oo-ui-radioOptionWidget
{
    display: table;
    padding: 0.3125em 0;
}

.oo-ui-radioOptionWidget .oo-ui-radioInputWidget,.oo-ui-radioOptionWidget.oo-ui-labelElement > .oo-ui-labelElement-label
{
    display: table-cell;
    vertical-align: top;
}

.oo-ui-radioOptionWidget .oo-ui-radioInputWidget
{
    width: 1px;
}

.oo-ui-radioOptionWidget.oo-ui-labelElement > .oo-ui-labelElement-label
{
    white-space: normal;
}

.oo-ui-radioOptionWidget.oo-ui-optionWidget-selected
{
    background-color: transparent;
}

.oo-ui-radioOptionWidget.oo-ui-labelElement > .oo-ui-labelElement-label
{
    padding-left: 0.5em;
}

.oo-ui-radioOptionWidget .oo-ui-radioInputWidget
{
    margin-right: 0;
}

.oo-ui-labelWidget
{
    display: inline-block;
}

.oo-ui-labelWidget.oo-ui-inline-help
{
    display: block;
    color: #595959;
    font-size: 0.9375em;
}

.oo-ui-messageWidget
{
    position: relative;
    box-sizing: border-box;
    font-weight: bold;
}

.oo-ui-messageWidget > .oo-ui-labelElement-label
{
    display: block;
}

.oo-ui-messageWidget > .oo-ui-iconElement-icon
{
    display: block;
    float: left;
    margin: 0;
}

.oo-ui-messageWidget > .oo-ui-labelElement-label
{
    margin-top: 0.15625em;
    margin-left: 2.5em;
    line-height: 1.4;
}

.oo-ui-messageWidget.oo-ui-messageWidget-block
{
    border: 1px solid;
    padding: 1.25em 1.875em;
    font-weight: normal;
}

.oo-ui-messageWidget.oo-ui-messageWidget-block.oo-ui-flaggedElement-error
{
    background-color: #ffdcdc;
    border-color: #d45353;
}

.oo-ui-messageWidget.oo-ui-messageWidget-block.oo-ui-flaggedElement-warning
{
    background-color: #fff8c6;
    border-color: #b85c00;
}

.oo-ui-messageWidget.oo-ui-messageWidget-block.oo-ui-flaggedElement-success
{
    background-color: #d5fdd6;
    border-color: #34782b;
}

.oo-ui-messageWidget.oo-ui-messageWidget-block.oo-ui-flaggedElement-notice
{
    background-color: #fafafa;
    border-color: #ccc;
}

.oo-ui-messageWidget.oo-ui-flaggedElement-error:not(.oo-ui-messageWidget-block)
{
    color: #d45353;
}

.oo-ui-messageWidget.oo-ui-flaggedElement-success:not(.oo-ui-messageWidget-block)
{
    color: #34782b;
}

.oo-ui-messageWidget + .oo-ui-messageWidget
{
    margin-top: 0.625em;
}

.oo-ui-iconWidget
{
    vertical-align: middle;
    user-select: none;
    clip: auto;
    margin: 0;
    text-indent: -9999px;
    line-height: 2.5em;
    display: inline-block;
    position: static;
    top: auto;
    height: 1.5625em;
    margin: 0.15625em;
}

.oo-ui-iconWidget.oo-ui-widget-disabled
{
    opacity: 0.2;
}

.oo-ui-indicatorWidget
{
    vertical-align: middle;
    user-select: none;
    clip: auto;
    margin: 0;
    text-indent: -9999px;
    line-height: 2.5em;
    margin: 0.46875em;
    display: inline-block;
    position: static;
    top: auto;
    height: 1.875em;
}

.oo-ui-indicatorWidget.oo-ui-widget-disabled
{
    opacity: 0.2;
}

.oo-ui-buttonWidget
{
    margin-right: 0.5em;
}

.oo-ui-buttonWidget:last-child
{
    margin-right: 0;
}

.oo-ui-buttonGroupWidget
{
    display: inline-block;
    border-radius: 3px;
    margin-right: 0.5em;
    z-index: 0;
    position: relative;
    padding-bottom: 1px;
}

.oo-ui-buttonGroupWidget .oo-ui-buttonWidget.oo-ui-buttonElement-active .oo-ui-buttonElement-button
{
    cursor: default;
}

.oo-ui-buttonGroupWidget:last-child
{
    margin-right: 0;
}

.oo-ui-buttonGroupWidget .oo-ui-buttonElement
{
    margin-right: 0;
}

.oo-ui-buttonGroupWidget .oo-ui-buttonElement:last-child
{
    margin-right: 0;
}

.oo-ui-buttonGroupWidget .oo-ui-buttonElement-framed .oo-ui-buttonElement-button
{
    border-radius: 0;
    margin-right: -1px;
    margin-bottom: -1px;
}

.oo-ui-buttonGroupWidget .oo-ui-buttonElement-framed:first-child .oo-ui-buttonElement-button
{
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.oo-ui-buttonGroupWidget .oo-ui-buttonElement-framed:last-child .oo-ui-buttonElement-button
{
    margin-right: 0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.oo-ui-buttonGroupWidget.oo-ui-widget-enabled .oo-ui-buttonElement.oo-ui-widget-enabled > .oo-ui-buttonElement-button:active
{
    z-index: 1;
}

.oo-ui-buttonGroupWidget.oo-ui-widget-enabled .oo-ui-buttonElement.oo-ui-widget-enabled > .oo-ui-buttonElement-button:focus
{
    z-index: 2;
}

.oo-ui-buttonGroupWidget.oo-ui-widget-enabled .oo-ui-buttonElement.oo-ui-buttonElement-active > .oo-ui-buttonElement-button
{
    z-index: 3;
}

.oo-ui-buttonGroupWidget.oo-ui-widget-enabled .oo-ui-buttonElement.oo-ui-widget-disabled > .oo-ui-buttonElement-button
{
    z-index: -1;
}

.oo-ui-buttonGroupWidget.oo-ui-widget-enabled .oo-ui-buttonElement.oo-ui-toggleWidget-on + .oo-ui-toggleWidget-on > .oo-ui-buttonElement-button,.oo-ui-buttonGroupWidget.oo-ui-widget-enabled .oo-ui-buttonElement.oo-ui-toggleWidget-on + .oo-ui-toggleWidget-on > .oo-ui-buttonElement-button:active
{
    z-index: 3;
}

.oo-ui-popupWidget
{
    position: absolute;
    z-index: 1;
}

.oo-ui-popupWidget-popup
{
    position: relative;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.oo-ui-popupWidget-anchor
{
    display: none;
}

.oo-ui-popupWidget-anchored .oo-ui-popupWidget-anchor
{
    display: block;
    position: absolute;
    background-repeat: no-repeat;
}

.oo-ui-popupWidget-anchored .oo-ui-popupWidget-anchor:before,.oo-ui-popupWidget-anchored .oo-ui-popupWidget-anchor:after
{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
}

.oo-ui-popupWidget-anchored-top .oo-ui-popupWidget-anchor
{
    left: 0;
}

.oo-ui-popupWidget-anchored-top .oo-ui-popupWidget-anchor:before,.oo-ui-popupWidget-anchored-top .oo-ui-popupWidget-anchor:after
{
    border-top: 0;
}

.oo-ui-popupWidget-anchored-bottom .oo-ui-popupWidget-anchor
{
    left: 0;
}

.oo-ui-popupWidget-anchored-bottom .oo-ui-popupWidget-anchor:before,.oo-ui-popupWidget-anchored-bottom .oo-ui-popupWidget-anchor:after
{
    border-bottom: 0;
}

.oo-ui-popupWidget-anchored-start .oo-ui-popupWidget-anchor
{
    top: 0;
}

.oo-ui-popupWidget-anchored-start .oo-ui-popupWidget-anchor:before,.oo-ui-popupWidget-anchored-start .oo-ui-popupWidget-anchor:after
{
    border-left: 0;
}

.oo-ui-popupWidget-anchored-end .oo-ui-popupWidget-anchor
{
    top: 0;
}

.oo-ui-popupWidget-anchored-end .oo-ui-popupWidget-anchor:before,.oo-ui-popupWidget-anchored-end .oo-ui-popupWidget-anchor:after
{
    border-right: 0;
}

.oo-ui-popupWidget-head
{
    user-select: none;
}

.oo-ui-popupWidget-head > .oo-ui-buttonWidget
{
    position: absolute;
}

.oo-ui-popupWidget-head > .oo-ui-iconElement-icon
{
    float: left;
}

.oo-ui-popupWidget-head > .oo-ui-labelElement-label
{
    float: left;
    cursor: default;
}

.oo-ui-popupWidget-body
{
    clear: both;
}

.oo-ui-popupWidget-body.oo-ui-clippableElement-clippable
{
    min-height: 1em;
}

.oo-ui-popupWidget-popup
{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0.15em 0.5em 0 rgba(0,0,0,0.2);
}

@supports (filter:drop-shadow(0 0 0))
{
    .oo-ui-popupWidget
    {
    filter: drop-shadow(0 0.15em 0.5em rgba(0,0,0,0.2));
    }

    .oo-ui-popupWidget-popup
    {
    box-shadow: none;
    }
}

.oo-ui-popupWidget-anchored-top
{
    margin-top: 6px;
}

.oo-ui-popupWidget-anchored-top .oo-ui-popupWidget-anchor
{
    top: -6px;
}

.oo-ui-popupWidget-anchored-top .oo-ui-popupWidget-anchor:before
{
    bottom: -7px;
    left: -6px;
    border-bottom-color: #a8a8a8;
    border-width: 7px;
}

.oo-ui-popupWidget-anchored-top .oo-ui-popupWidget-anchor:after
{
    bottom: -7px;
    left: -5px;
    border-bottom-color: #fff;
    border-width: 6px;
}

.oo-ui-popupWidget-anchored-bottom
{
    margin-bottom: 6px;
}

.oo-ui-popupWidget-anchored-bottom .oo-ui-popupWidget-anchor
{
    bottom: -6px;
}

.oo-ui-popupWidget-anchored-bottom .oo-ui-popupWidget-anchor:before
{
    top: -7px;
    left: -6px;
    border-top-color: #aaa;
    border-width: 7px;
}

.oo-ui-popupWidget-anchored-bottom .oo-ui-popupWidget-anchor:after
{
    top: -7px;
    left: -5px;
    border-top-color: #fff;
    border-width: 6px;
}

.oo-ui-popupWidget-anchored-start
{
    margin-left: 6px;
}

.oo-ui-popupWidget-anchored-start .oo-ui-popupWidget-anchor
{
    left: -6px;
}

.oo-ui-popupWidget-anchored-start .oo-ui-popupWidget-anchor:before
{
    right: -7px;
    top: -6px;
    border-right-color: #aaa;
    border-width: 7px;
}

.oo-ui-popupWidget-anchored-start .oo-ui-popupWidget-anchor:after
{
    right: -7px;
    top: -5px;
    border-right-color: #fff;
    border-width: 6px;
}

.oo-ui-popupWidget-anchored-end
{
    margin-right: 6px;
}

.oo-ui-popupWidget-anchored-end .oo-ui-popupWidget-anchor
{
    right: -6px;
}

.oo-ui-popupWidget-anchored-end .oo-ui-popupWidget-anchor:before
{
    left: -7px;
    top: -6px;
    border-left-color: #aaa;
    border-width: 7px;
}

.oo-ui-popupWidget-anchored-end .oo-ui-popupWidget-anchor:after
{
    left: -7px;
    top: -5px;
    border-left-color: #fff;
    border-width: 6px;
}

.oo-ui-popupWidget-transitioning .oo-ui-popupWidget-popup
{
    transition: width 100ms,height 100ms,left 100ms;
}

.oo-ui-popupWidget-head
{
    height: 2.5em;
}

.oo-ui-popupWidget-head > .oo-ui-buttonWidget
{
    top: 0.25em;
    right: 0.25em;
}

.oo-ui-popupWidget-head > .oo-ui-buttonWidget .oo-ui-icon-close
{
    background-size: 1.25em 1.25em;
}

.oo-ui-popupWidget-head > .oo-ui-labelElement-label
{
    margin: 0.75em 2.125em 0.75em 0.25em;
}

.oo-ui-popupWidget-head > .oo-ui-iconElement-icon
{
    height: 100%;
    margin-left: 0.75em;
}

.oo-ui-popupWidget-body
{
    line-height: 1.4;
}

.oo-ui-popupWidget-body-padded
{
    margin: 0.75em 1em;
}

.oo-ui-popupButtonWidget
{
    position: relative;
}

.oo-ui-popupButtonWidget .oo-ui-popupWidget
{
    cursor: auto;
}

.oo-ui-inputWidget
{
    margin-right: 0.5em;
}

.oo-ui-inputWidget:last-child
{
    margin-right: 0;
}

.oo-ui-buttonInputWidget > button,.oo-ui-buttonInputWidget > input
{
    background-color: transparent;
    margin: 0;
    border: 0;
    padding: 0;
}

.oo-ui-checkboxInputWidget
{
    display: inline-block;
}

.oo-ui-checkboxInputWidget-checkIcon
{
    display: none;
}

.oo-ui-checkboxMultiselectInputWidget .oo-ui-fieldLayout
{
    margin-top: 0;
}

.oo-ui-checkboxMultiselectInputWidget .oo-ui-fieldLayout .oo-ui-fieldLayout-body
{
    padding: 0.3125em 0;
}

.oo-ui-checkboxMultiselectInputWidget .oo-ui-fieldLayout .oo-ui-labelElement-label
{
    line-height: 1.5;
}

.oo-ui-dropdownInputWidget
{
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    max-width: 50em;
}

.oo-ui-dropdownInputWidget .oo-ui-dropdownWidget,.oo-ui-dropdownInputWidget.oo-ui-dropdownInputWidget-php select,.oo-ui-dropdownInputWidget.oo-ui-isMobile select
{
    display: block;
}

.oo-ui-dropdownInputWidget.oo-ui-isMobile .oo-ui-dropdownWidget
{
    display: none;
}

.oo-ui-dropdownInputWidget select
{
    display: none;
    background-position: -9999em 0;
    background-repeat: no-repeat;
    width: 100%;
    box-sizing: border-box;
}

.oo-ui-dropdownInputWidget.oo-ui-widget-enabled select
{
    cursor: pointer;
}

.oo-ui-dropdownInputWidget select
{
    background-color: #fff;
    height: 2.5em;
    padding: 0.5em;
    font-size: inherit;
    font-family: inherit;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.oo-ui-dropdownInputWidget option
{
    font-size: inherit;
    font-family: inherit;
    height: 1.5em;
    padding: 0.5em 1em;
}

.oo-ui-dropdownInputWidget.oo-ui-widget-enabled select:hover
{
    border-color: #aaa;
}

.oo-ui-dropdownInputWidget.oo-ui-widget-enabled select:focus
{
    border-color: #ace;
    outline: 0;
    box-shadow: 0 0 2px 2px #ace;
}

.oo-ui-dropdownInputWidget.oo-ui-widget-disabled select
{
    color: #ccc;
    border-color: #ddd;
    background-color: #f3f3f3;
}

.oo-ui-radioInputWidget
{
    display: inline-block;
}

.oo-ui-radioSelectInputWidget .oo-ui-fieldLayout
{
    margin-top: 0;
}

.oo-ui-radioSelectInputWidget .oo-ui-fieldLayout .oo-ui-fieldLayout-body
{
    padding: 0.3125em 0;
}

.oo-ui-radioSelectInputWidget .oo-ui-fieldLayout .oo-ui-labelElement-label
{
    line-height: 1.5;
}

.oo-ui-textInputWidget
{
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    max-width: 50em;
}

.oo-ui-textInputWidget .oo-ui-inputWidget-input
{
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.oo-ui-textInputWidget textarea
{
    overflow: auto;
}

.oo-ui-textInputWidget textarea.oo-ui-textInputWidget-autosized
{
    resize: none;
}

.oo-ui-textInputWidget > .oo-ui-iconElement-icon,.oo-ui-textInputWidget-labelPosition-before > .oo-ui-labelElement-label
{
    left: 0;
}

.oo-ui-textInputWidget > .oo-ui-indicatorElement-indicator,.oo-ui-textInputWidget-labelPosition-after > .oo-ui-labelElement-label
{
    right: 0;
}

.oo-ui-textInputWidget > .oo-ui-labelElement-label
{
    position: absolute;
    top: 0;
}

.oo-ui-textInputWidget.oo-ui-labelElement > .oo-ui-labelElement-label
{
    display: block;
}

.oo-ui-textInputWidget-php > .oo-ui-iconElement-icon,.oo-ui-textInputWidget-php > .oo-ui-indicatorElement-indicator,.oo-ui-textInputWidget-php > .oo-ui-labelElement-label
{
    pointer-events: none;
}

.oo-ui-textInputWidget.oo-ui-widget-enabled > .oo-ui-iconElement-icon,.oo-ui-textInputWidget.oo-ui-widget-enabled > .oo-ui-indicatorElement-indicator
{
    cursor: text;
}

.oo-ui-textInputWidget.oo-ui-widget-enabled.oo-ui-textInputWidget-type-search > .oo-ui-indicatorElement-indicator
{
    cursor: pointer;
}

.oo-ui-textInputWidget.oo-ui-widget-disabled > *
{
    user-select: none;
}

.oo-ui-textInputWidget .oo-ui-inputWidget-input
{
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0.46875em 0.5em;
    box-shadow: 0 0 0 #fff,inset 0 0.1em 0.2em #ddd;
    font-size: inherit;
    font-family: inherit;
    line-height: 1.40625em;
    transition: border-color 250ms,box-shadow 250ms;
}

.oo-ui-textInputWidget .oo-ui-pendingElement-pending
{
    background-color: #ddd;
}

.oo-ui-textInputWidget.oo-ui-iconElement > .oo-ui-iconElement-icon,.oo-ui-textInputWidget.oo-ui-indicatorElement > .oo-ui-indicatorElement-indicator
{
    position: absolute;
    top: 0;
    height: 100%;
    margin: 0 0.15625em;
}

.oo-ui-textInputWidget.oo-ui-iconElement .oo-ui-inputWidget-input
{
    padding-left: 2.475em;
}

.oo-ui-textInputWidget.oo-ui-iconElement > .oo-ui-iconElement-icon
{
    max-height: 2.5em;
    margin-left: 0.5em;
}

.oo-ui-textInputWidget.oo-ui-indicatorElement .oo-ui-inputWidget-input
{
    padding-right: 2.4875em;
}

.oo-ui-textInputWidget.oo-ui-indicatorElement > .oo-ui-indicatorElement-indicator
{
    max-height: 2.5em;
    margin-right: 0.775em;
}

.oo-ui-textInputWidget > .oo-ui-labelElement-label
{
    color: #767676;
    top: 1px;
    padding: 0.46875em 0.4em;
    line-height: 1.40625em;
}

.oo-ui-textInputWidget-labelPosition-after.oo-ui-indicatorElement > .oo-ui-labelElement-label
{
    margin-right: 2.0875em;
}

.oo-ui-textInputWidget-labelPosition-before.oo-ui-iconElement > .oo-ui-labelElement-label
{
    margin-left: 2.075em;
}

.oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input::placeholder
{
    color: #767676;
    opacity: 1;
}

.oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input:focus
{
    outline: 0;
    border-color: #ace;
    box-shadow: 0 0 2px 2px #ace;
}

.oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input[readonly]
{
    background-color: #f3f3f3;
}

.oo-ui-textInputWidget.oo-ui-widget-enabled.oo-ui-flaggedElement-invalid .oo-ui-inputWidget-input
{
    background-color: #fdd;
}

.oo-ui-textInputWidget.oo-ui-widget-disabled .oo-ui-inputWidget-input
{
    background-color: #f3f3f3;
    color: #ccc;
    border-color: #ddd;
    text-shadow: 0 1px 1px #fff;
}

.oo-ui-textInputWidget.oo-ui-widget-disabled > .oo-ui-iconElement-icon,.oo-ui-textInputWidget.oo-ui-widget-disabled > .oo-ui-indicatorElement-indicator
{
    opacity: 0.2;
}

.oo-ui-textInputWidget.oo-ui-widget-disabled > .oo-ui-labelElement-label
{
    color: #ddd;
    text-shadow: 0 1px 1px #fff;
}

.oo-ui-menuSelectWidget
{
    position: absolute;
    width: 100%;
    z-index: 4;
    background-color: #fff;
    margin-top: -1px;
    margin-bottom: -1px;
    border: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 0.15em 1em 0 rgba(0,0,0,0.2);
}

.oo-ui-menuSelectWidget.oo-ui-clippableElement-clippable
{
    min-height: 32px;
}

.oo-ui-menuSelectWidget-invisible
{
    display: none;
}

.oo-ui-menuOptionWidget .oo-ui-menuOptionWidget-checkIcon
{
    display: none;
}

.oo-ui-menuOptionWidget.oo-ui-optionWidget > .oo-ui-indicatorElement-indicator
{
    display: none;
}

.oo-ui-menuOptionWidget.oo-ui-optionWidget-selected
{
    background-color: transparent;
}

.oo-ui-menuOptionWidget.oo-ui-optionWidget-selected > .oo-ui-iconElement-icon
{
    display: none;
}

.oo-ui-menuOptionWidget.oo-ui-optionWidget-selected .oo-ui-menuOptionWidget-checkIcon
{
    display: block;
}

.oo-ui-menuOptionWidget.oo-ui-optionWidget-highlighted,.oo-ui-menuOptionWidget.oo-ui-optionWidget-highlighted.oo-ui-optionWidget-selected
{
    background-color: #e1f3ff;
}

.oo-ui-menuOptionWidget.oo-ui-widget-enabled.oo-ui-optionWidget
{
    color: #333;
}

.oo-ui-menuSectionOptionWidget
{
    padding: 0.33em 0.75em;
    color: #767676;
}

.oo-ui-menuSectionOptionWidget.oo-ui-widget-enabled
{
    cursor: default;
}

.oo-ui-dropdownWidget
{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 100%;
    max-width: 50em;
    margin-right: 0.5em;
}

.oo-ui-dropdownWidget-handle
{
    position: relative;
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
}

.oo-ui-dropdownWidget-handle .oo-ui-labelElement-label
{
    display: inline-block;
}

.oo-ui-dropdownWidget.oo-ui-widget-enabled .oo-ui-dropdownWidget-handle
{
    cursor: pointer;
}

.oo-ui-dropdownWidget:last-child
{
    margin-right: 0;
}

.oo-ui-dropdownWidget-handle
{
    min-height: 2.5em;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0.46875em 2.5em 0.46875em 0.78125em;
    line-height: 1;
}

.oo-ui-dropdownWidget-handle:focus
{
    outline: 0;
}

.oo-ui-dropdownWidget-handle .oo-ui-iconElement-icon,.oo-ui-dropdownWidget-handle .oo-ui-indicatorElement-indicator
{
    position: absolute;
    top: 0;
    height: 100%;
    margin: 0;
}

.oo-ui-dropdownWidget-handle .oo-ui-iconElement-icon
{
    left: 0.55em;
}

.oo-ui-dropdownWidget-handle .oo-ui-labelElement-label
{
    line-height: 1.40625em;
}

.oo-ui-dropdownWidget-handle .oo-ui-indicatorElement-indicator
{
    right: 0.775em;
}

.oo-ui-dropdownWidget.oo-ui-iconElement .oo-ui-dropdownWidget-handle
{
    padding-left: 3em;
}

.oo-ui-dropdownWidget.oo-ui-widget-enabled .oo-ui-dropdownWidget-handle
{
    background-color: #fff;
}

.oo-ui-dropdownWidget.oo-ui-widget-enabled .oo-ui-dropdownWidget-handle:hover
{
    border-color: #aaa;
}

.oo-ui-dropdownWidget.oo-ui-widget-enabled .oo-ui-dropdownWidget-handle:focus
{
    border-color: #ace;
    box-shadow: 0 0 2px 2px #ace;
}

.oo-ui-dropdownWidget.oo-ui-widget-disabled .oo-ui-dropdownWidget-handle
{
    background-color: #f3f3f3;
    color: #ccc;
    border-color: #ddd;
    text-shadow: 0 1px 1px #fff;
}

.oo-ui-dropdownWidget.oo-ui-widget-disabled .oo-ui-dropdownWidget-handle .oo-ui-indicatorElement-indicator
{
    opacity: 0.2;
}

.oo-ui-comboBoxInputWidget
{
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 50em;
    margin-right: 0.5em;
}

.oo-ui-comboBoxInputWidget-field
{
    display: table;
    width: 100%;
    table-layout: fixed;
}

.oo-ui-comboBoxInputWidget .oo-ui-inputWidget-input
{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
}

.oo-ui-comboBoxInputWidget-dropdownButton
{
    display: table-cell;
}

.oo-ui-comboBoxInputWidget-dropdownButton > .oo-ui-buttonElement-button
{
    display: block;
    overflow: hidden;
}

.oo-ui-comboBoxInputWidget.oo-ui-comboBoxInputWidget-empty .oo-ui-comboBoxInputWidget-dropdownButton
{
    display: none;
}

.oo-ui-comboBoxInputWidget-php > .oo-ui-indicatorWidget
{
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    pointer-events: none;
}

.oo-ui-comboBoxInputWidget:last-child
{
    margin-right: 0;
}

.oo-ui-comboBoxInputWidget-dropdownButton
{
    position: absolute;
    top: 0;
    right: 0;
}

.oo-ui-comboBoxInputWidget-dropdownButton .oo-ui-buttonElement-button,.oo-ui-comboBoxInputWidget-dropdownButton .oo-ui-buttonElement-button:hover:not(:focus),.oo-ui-buttonElement-pressed.oo-ui-comboBoxInputWidget-dropdownButton .oo-ui-buttonElement-button,.oo-ui-buttonElement-pressed.oo-ui-comboBoxInputWidget-dropdownButton .oo-ui-buttonElement-button:focus:active
{
    border-color: transparent;
    background: none;
    box-shadow: none;
}

.oo-ui-comboBoxInputWidget-php .oo-ui-indicatorWidget
{
    right: 0;
    max-height: 2.5em;
    margin: 0;
    margin-right: 0.775em;
}

.oo-ui-comboBoxInputWidget.oo-ui-widget-disabled .oo-ui-textInputWidget.oo-ui-indicatorElement .oo-ui-indicatorElement-indicator
{
    cursor: default;
    opacity: 0.2;
}

.oo-ui-multioptionWidget
{
    position: relative;
    display: block;
}

.oo-ui-multioptionWidget.oo-ui-widget-enabled
{
    cursor: pointer;
}

.oo-ui-multioptionWidget.oo-ui-widget-disabled
{
    cursor: default;
}

.oo-ui-multioptionWidget.oo-ui-labelElement .oo-ui-labelElement-label
{
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.oo-ui-multioptionWidget .oo-ui-labelElement-label
{
    line-height: 1.5em;
}

.oo-ui-multioptionWidget.oo-ui-widget-disabled
{
    color: #ccc;
}

.oo-ui-checkboxMultioptionWidget
{
    display: table;
    padding: 0.3125em 0;
}

.oo-ui-checkboxMultioptionWidget .oo-ui-checkboxInputWidget,.oo-ui-checkboxMultioptionWidget.oo-ui-labelElement > .oo-ui-labelElement-label
{
    display: table-cell;
    vertical-align: top;
}

.oo-ui-checkboxMultioptionWidget .oo-ui-checkboxInputWidget
{
    width: 1px;
}

.oo-ui-checkboxMultioptionWidget.oo-ui-labelElement > .oo-ui-labelElement-label
{
    white-space: normal;
}

.oo-ui-checkboxMultioptionWidget.oo-ui-labelElement > .oo-ui-labelElement-label
{
    padding-left: 0.5em;
}

.oo-ui-checkboxMultioptionWidget .oo-ui-checkboxInputWidget
{
    margin-right: 0;
}

.oo-ui-progressBarWidget
{
    box-sizing: border-box;
    max-width: 50em;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
}

.oo-ui-progressBarWidget-bar
{
    background-color: #cde7f4;
    background-image: linear-gradient(to bottom,#eaf4fa 0,#b0d9ee 100%);
    height: 1em;
    border-right: 1px solid #ccc;
    transition: width 250ms;
}

.oo-ui-progressBarWidget-indeterminate .oo-ui-progressBarWidget-bar
{
    width: 40%;
    border-left: 1px solid #ccc;
    animation: oo-ui-progressBarWidget-slide 2s infinite linear;
    transform: translate(-25%);
}

.oo-ui-progressBarWidget.oo-ui-widget-disabled
{
    opacity: 0.6;
}

@keyframes oo-ui-progressBarWidget-slide
{
    from
    {
    transform: translate(-100%);
    }

    to
    {
    transform: translate(350%);
    }
}

.oo-ui-numberInputWidget
{
    display: inline-block;
    position: relative;
    max-width: 50em;
}

.oo-ui-numberInputWidget-buttoned .oo-ui-buttonWidget,.oo-ui-numberInputWidget-buttoned .oo-ui-inputWidget-input
{
    display: table-cell;
    height: 100%;
}

.oo-ui-numberInputWidget-field
{
    display: table;
    table-layout: fixed;
    width: 100%;
}

.oo-ui-numberInputWidget-field > .oo-ui-buttonWidget
{
    width: 2.5em;
}

.oo-ui-numberInputWidget-buttoned .oo-ui-buttonWidget,.oo-ui-numberInputWidget-buttoned .oo-ui-inputWidget-input
{
    height: 2.5em;
}

.oo-ui-numberInputWidget-buttoned .oo-ui-buttonElement-button .oo-ui-iconElement-icon
{
    min-width: 20px;
    width: 1.5625em;
}

.oo-ui-numberInputWidget-buttoned .oo-ui-inputWidget-input
{
    border-radius: 0;
}

.oo-ui-numberInputWidget-minusButton > .oo-ui-buttonElement-button
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;
}

.oo-ui-numberInputWidget-plusButton > .oo-ui-buttonElement-button
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
}

.oo-ui-selectFileInputWidget
{
    width: 100%;
    max-width: 50em;
}

.oo-ui-selectFileInputWidget-selectButton > .oo-ui-buttonElement-button
{
    position: relative;
    overflow: hidden;
}

.oo-ui-selectFileInputWidget-selectButton > .oo-ui-buttonElement-button > [type='file']
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    padding-top: 100px;
}

.oo-ui-selectFileInputWidget-selectButton.oo-ui-widget-disabled > .oo-ui-buttonElement-button > [type='file']
{
    display: none;
}

.oo-ui-selectFileInputWidget-info > .oo-ui-inputWidget-input
{
    pointer-events: none;
}

.oo-ui-selectFileInputWidget-clearButton
{
    position: absolute;
    z-index: 2;
}

.oo-ui-selectFileInputWidget-empty .oo-ui-selectFileInputWidget-clearButton
{
    display: none;
}

.oo-ui-selectFileInputWidget-empty.oo-ui-widget-enabled .oo-ui-selectFileInputWidget-label
{
    cursor: default;
}

.oo-ui-defaultOverlay
{
    position: absolute;
    top: 0;
    left: 0;
}

body > .oo-ui-windowManager,.oo-ui-defaultOverlay
{
    font-size: 1.28em;
}

@media screen
{
    #column-content
    {
    width: 100%;
    margin: 0;
    padding: 0;
    }

    .mw-body
    {
    padding: 1em;
    position: relative;
    z-index: 2;
    background: #ffffff;
    color: #000000;
    border: 1px solid #aaaaaa;
    line-height: 1.5em;
    }

    #column-one h2
    {
    position: absolute;
    top: -9999px;
    left: 0;
    }

    body
    {
    font-family: sans-serif;
    font-size: x-small;
    background-color: #ddd;
    color: #000000;
    margin: 0;
    padding: 0;
    direction: ltr;
    unicode-bidi: embed;
    }

    #globalWrapper
    {
    font-size: 127%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
    }

    a
    {
    color: #002bb8;
    }

    a:visited
    {
    color: #5a3696;
    }

    a.new,#p-personal a.new
    {
    color: #cc2200;
    }

    ul
    {
    list-style-type: square;
    list-style-image: url(/w/skins/MonoBook/resources/images/bullet.svg?36e03);
    }

    pre,.mw-code
    {
    line-height: 1.1em;
    }

    .firstHeading
    {
    margin-top: 0.4em;
    margin-bottom: 0.1em;
    padding-top: 0;
    overflow: visible;
    }

    .mw-indicators
    {
    float: right;
    line-height: 1.5em;
    font-size: 95%;
    }

    .mw-indicator
    {
    display: inline-block;
    }

    .mw-jump-link:not(:focus)
    {
    display: block;
    position: absolute !important;
    clip: rect(1px,1px,1px,1px);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    }

    #siteNotice
    {
    font-size: 95%;
    padding: 0 0.9em;
    }

    #siteNotice p
    {
    margin: 0;
    padding: 0;
    }

    #localNotice
    {
    margin: 0;
    }

    table.rimage
    {
    float: right;
    position: relative;
    margin-left: 1em;
    margin-bottom: 1em;
    text-align: center;
    }

    .portlet
    {
    overflow: hidden;
    }

    .portlet h3
    {
    background: transparent;
    display: inline;
    height: 1em;
    font-size: 91%;
    white-space: nowrap;
    }

    .portlet ul
    {
    line-height: 1.5em;
    font-size: 95%;
    }

    .portlet li
    {
    padding: 0;
    margin: 0;
    }

    .pBody
    {
    font-size: 95%;
    color: #000000;
    border-collapse: collapse;
    }

    .pBody:after
    {
    content: '';
    clear: both;
    display: block;
    }

    #p-logo
    {
    position: absolute;
    z-index: 3;
    overflow: visible;
    }

    #p-logo a,#p-logo a:hover
    {
    display: block;
    background-repeat: no-repeat;
    text-decoration: none;
    }

    li#pt-anonuserpage
    {
    color: #707070;
    }

    .mw-footer
    {
    background-color: #ffffff;
    border-top: 1px solid #fabd23;
    border-bottom: 1px solid #fabd23;
    margin: 0.6em 0 1em 0;
    overflow: hidden;
    padding: 0.4em 0 0.3em 0;
    text-align: center;
    font-size: 90%;
    }

    .mw-footer li
    {
    display: inline;
    margin: 0 1.3em;
    }

    #userloginprompt,#languagelinks
    {
    font-size: 85%;
    }

    #login-sectiontip
    {
    font-size: 85%;
    line-height: 1.2;
    padding-top: 2em;
    }

    #pagehistory li.selected
    {
    position: relative;
    }

    div.patrollink
    {
    clear: both;
    }

    .sharedUploadNotice
    {
    font-style: italic;
    }

    .toggle
    {
    margin-left: 2em;
    text-indent: -2em;
    }

    input#wpSave,input#wpDiff
    {
    margin-right: 0.33em;
    }

    #wpSave
    {
    font-weight: bold;
    }

    div.noarticletext
    {
    border: 1px solid #aaaaaa;
    background: #ffffff;
    padding: 0.2em 1em;
    color: #000000;
    }

    #powersearch p
    {
    margin-top: 0;
    }

    div.multipageimagenavbox
    {
    border: solid 1px #aaaaaa;
    padding: 4px;
    margin: 1em;
    background: #f9f9f9;
    }

    div.multipageimagenavbox div.thumb
    {
    border: 0;
    margin-left: 2em;
    margin-right: 2em;
    }

    div.multipageimagenavbox hr
    {
    margin: 6px;
    }

    table.multipageimage td
    {
    text-align: center;
    }

    .templatesUsed
    {
    margin-top: 1.5em;
    }

    .mw-summary-preview
    {
    margin: 0.1em 0;
    }

    div.mw-lag-warn-normal,div.mw-lag-warn-high
    {
    padding: 3px;
    text-align: center;
    margin: 3px auto;
    }

    div.mw-lag-warn-normal
    {
    border: 1px solid #fc6;
    background-color: #ffc;
    }

    div.mw-lag-warn-high
    {
    font-weight: bold;
    border: 2px solid #f03;
    background-color: #fcc;
    }

    .MediaTransformError
    {
    background-color: #aaaaaa;
    padding: 0.1em;
    }

    .MediaTransformError td
    {
    text-align: center;
    vertical-align: middle;
    font-size: 90%;
    }

    .tipsy
    {
    font-size: 127%;
    }

    #column-content
    {
    float: right;
    margin: 0 0 0.6em -12.2em;
    }

    .mw-body
    {
    margin: 2.8em 0 0 12.2em;
    border-right: 0;
    }

    #mw-data-after-content
    {
    margin-left: 12.2em;
    }

    #column-one
    {
    padding-top: 20px;
    }

    .special li
    {
    line-height: 1.4em;
    margin: 0;
    padding: 0;
    }

    .portlet
    {
    border: 0;
    margin: 0 0 0.5em;
    padding: 0;
    float: none;
    width: 11.6em;
    }

    .portlet h3
    {
    padding: 0 1em 0 0.5em;
    text-transform: lowercase;
    font-weight: normal;
    }

    .pBody
    {
    background-color: #fff;
    border: 1px solid #aaa;
    padding: 0 0.8em 0.3em 0.5em;
    }

    li#pt-userpage
    {
    text-transform: none;
    }

    .capitalize-all-nouns .portlet h3,.capitalize-all-nouns #p-personal ul,.capitalize-all-nouns #p-cactions ul li a
    {
    text-transform: none;
    }

    .no-text-transform
    {
    text-transform: none;
    }

    #p-logo
    {
    top: 0;
    left: 0;
    height: 155px;
    width: 12em;
    }

    #p-logo a,#p-logo a:hover
    {
    height: 155px;
    width: 12.2em;
    background-position: 35% 50% !important;
    }

    #p-search
    {
    position: relative;
    z-index: 3;
    }

    input.searchButton
    {
    margin-top: 1px;
    font-size: 95%;
    }

    #searchGoButton
    {
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-weight: bold;
    }

    #searchInput
    {
    width: 10.9em;
    margin: 0;
    font-size: 95%;
    }

    #p-search .pBody
    {
    padding: 0.5em 0.4em 0.4em 0.4em;
    text-align: center;
    }

    #p-search #searchform div div
    {
    margin-top: 0.4em;
    font-size: 95%;
    }

    #p-personal
    {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
    overflow: visible;
    line-height: 1.2em;
    }

    #p-personal h3
    {
    position: absolute;
    top: -9999px;
    }

    #p-personal .portlet,#p-personal .pBody
    {
    z-index: 0;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: visible;
    background: none;
    }

    #p-personal ul
    {
    border: 0;
    line-height: 1.4em;
    color: #2f6fab;
    padding: 0;
    padding-right: 2em;
    padding-left: 14em;
    margin: 0;
    float: right;
    list-style-type: none;
    list-style-image: none;
    z-index: 0;
    background: none;
    cursor: default;
    text-transform: lowercase;
    box-sizing: border-box;
    max-width: 100%;
    }

    #p-personal li
    {
    z-index: 0;
    border: 0;
    padding: 0;
    color: #2f6fab;
    display: inline;
    margin-left: 1em;
    line-height: 1.2em;
    background: none;
    }

    #p-personal li a
    {
    color: #005896;
    text-decoration: none;
    padding-bottom: 0.2em;
    }

    #p-personal li a:hover
    {
    background-color: #fff;
    text-decoration: none;
    }

    #p-personal li.active a:hover
    {
    background-color: transparent;
    }

    li#pt-userpage,li#pt-anonuserpage
    {
    background-position: top left;
    background-repeat: no-repeat;
    padding-left: 20px;
    }

    #p-lang
    {
    position: relative;
    z-index: 3;
    }

    #p-cactions
    {
    position: absolute;
    top: 1.3em;
    left: 11.5em;
    margin: 0;
    white-space: nowrap;
    width: 76%;
    line-height: 1.1em;
    overflow: visible;
    background: none;
    border-collapse: collapse;
    padding-left: 1em;
    font-size: 95%;
    }

    #p-cactions h3
    {
    position: absolute;
    top: -9999px;
    }

    #p-cactions ul
    {
    list-style-type: none;
    list-style-image: none;
    }

    #p-cactions li
    {
    display: inline;
    border: 1px solid #aaa;
    border-bottom: 0;
    margin: 0 0.5em 0 0;
    padding: 0 0 1em 0;
    overflow: visible;
    background: #fff;
    }

    #p-cactions li.selected
    {
    border-color: #fabd23;
    font-weight: bold;
    }

    #p-cactions li.selected a
    {
    z-index: 3;
    background-color: #fff;
    }

    #p-cactions li a
    {
    background-color: #fbfbfb;
    color: #002bb8;
    border: 0;
    padding: 0 0.8em 0.3em;
    position: relative;
    z-index: 0;
    margin: 0;
    text-decoration: none;
    text-transform: lowercase;
    }

    #p-cactions li a:hover
    {
    z-index: 3;
    text-decoration: none;
    background-color: #fff;
    }

    #p-cactions li.istalk
    {
    margin-right: 0;
    }

    #p-cactions li.istalk a
    {
    padding-right: 0.5em;
    }

    #p-cactions .new a
    {
    color: #c20;
    }

    #p-cactions #ca-addsection a
    {
    padding-left: 0.4em;
    padding-right: 0.4em;
    }

    #p-cactions .pBody
    {
    font-size: 1em;
    background-color: transparent;
    color: inherit;
    border-collapse: inherit;
    border: 0;
    padding: 0;
    }

    li#ca-talk
    {
    margin-right: 1.6em;
    }

    li#ca-watch,li#ca-unwatch,li#ca-varlang-0,li#ca-print
    {
    margin-left: 1.6em;
    }

    #p-personal #pt-notifications,#echo-hack-badges,#p-cactions-mobile,#sidebar-mobilejs,.mobile-close-button,.menu-toggle,.menus-cover
    {
    display: none;
    }

    #f-poweredbyico,#f-copyrightico
    {
    margin: 0 8px;
    position: relative;
    top: -2px;
    }

    #f-poweredbyico
    {
    float: right;
    height: 1%;
    }

    #f-copyrightico
    {
    float: left;
    height: 1%;
    }

    a
    {
    text-decoration: none;
    color: #0645ad;
    background: none;
    }

    a:not([href])
    {
    cursor: pointer;
    }

    a:visited
    {
    color: #0b0080;
    }

    a:active
    {
    color: #faa700;
    }

    a:hover,a:focus
    {
    text-decoration: underline;
    }

    a:lang(ar),a:lang(kk-arab),a:lang(mzn),a:lang(ps),a:lang(ur)
    {
    text-decoration: none;
    }

    a.stub
    {
    color: #723;
    }

    a.new,#p-personal a.new
    {
    color: #d33;
    }

    a.mw-selflink
    {
    color: inherit;
    font-weight: bold;
    text-decoration: inherit;
    }

    a.mw-selflink:hover
    {
    cursor: inherit;
    text-decoration: inherit;
    }

    a.mw-selflink:active,a.mw-selflink:visited
    {
    color: inherit;
    }

    a.new:visited,#p-personal a.new:visited
    {
    color: #a55858;
    }

    .mw-parser-output a.extiw,.mw-parser-output a.external
    {
    color: #36b;
    }

    .mw-parser-output a.extiw:visited,.mw-parser-output a.external:visited
    {
    color: #636;
    }

    .mw-parser-output a.extiw:active,.mw-parser-output a.external:active
    {
    color: #b63;
    }

    .mw-parser-output a.external.free
    {
    word-wrap: break-word;
    }

    img
    {
    border: 0;
    vertical-align: middle;
    }

    hr
    {
    height: 1px;
    background-color: #a2a9b1;
    border: 0;
    margin: 0.2em 0;
    }

    h1,h2,h3,h4,h5,h6
    {
    color: #000;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
    overflow: hidden;
    }

    h1,h2
    {
    margin-bottom: 0.6em;
    border-bottom: 1px solid #a2a9b1;
    }

    h3,h4,h5
    {
    margin-bottom: 0.3em;
    }

    h1
    {
    font-size: 188%;
    font-weight: normal;
    }

    h2
    {
    font-size: 150%;
    font-weight: normal;
    }

    h3
    {
    font-size: 128%;
    }

    h4
    {
    font-size: 116%;
    }

    h5
    {
    font-size: 108%;
    }

    h6
    {
    font-size: 100%;
    }

    p
    {
    margin: 0.4em 0 0.5em 0;
    }

    p img
    {
    margin: 0;
    }

    ul
    {
    margin: 0.3em 0 0 1.6em;
    padding: 0;
    }

    ol
    {
    margin: 0.3em 0 0 3.2em;
    padding: 0;
    list-style-image: none;
    }

    li
    {
    margin-bottom: 0.1em;
    }

    dt
    {
    font-weight: bold;
    margin-bottom: 0.1em;
    }

    dl
    {
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    }

    dd
    {
    margin-left: 1.6em;
    margin-bottom: 0.1em;
    }

    pre,code,tt,kbd,samp,.mw-code
    {
    font-family: monospace,monospace;
    }

    code
    {
    color: #000;
    background-color: #f8f9fa;
    border: 1px solid #eaecf0;
    border-radius: 2px;
    padding: 1px 4px;
    }

    pre,.mw-code
    {
    color: #000;
    background-color: #f8f9fa;
    border: 1px solid #eaecf0;
    padding: 1em;
    white-space: pre-wrap;
    overflow-x: hidden;
    word-wrap: break-word;
    }

    table
    {
    font-size: 100%;
    }

    fieldset
    {
    border: 1px solid #2a4b8d;
    margin: 1em 0 1em 0;
    padding: 0 1em 1em;
    }

    legend
    {
    padding: 0.5em;
    font-size: 95%;
    }

    form
    {
    border: 0;
    margin: 0;
    }

    textarea
    {
    width: 100%;
    padding: 0.1em;
    display: block;
    box-sizing: border-box;
    }

    .center
    {
    width: 100%;
    text-align: center;
    }

    *.center *
    {
    margin-left: auto;
    margin-right: auto;
    }

    .small
    {
    font-size: 94%;
    }

    table.small
    {
    font-size: 100%;
    }

    .toc,.mw-warning,.toccolours
    {
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    padding: 5px;
    font-size: 95%;
    }

    .toc
    {
    display: table;
    padding: 7px;
    }

    table.toc
    {
    border-collapse: collapse;
    }

    table.toc td
    {
    padding: 0;
    }

    .toc h2
    {
    display: inline;
    border: 0;
    padding: 0;
    font-size: 100%;
    font-weight: bold;
    }

    .toc .toctitle
    {
    text-align: center;
    }

    .toc ul
    {
    list-style-type: none;
    list-style-image: none;
    margin-left: 0;
    padding: 0;
    text-align: left;
    }

    .toc ul ul
    {
    margin: 0 0 0 2em;
    }

    .tocnumber,.toctext
    {
    display: table-cell;
    text-decoration: inherit;
    }

    .tocnumber
    {
    color: #202122;
    padding-left: 0;
    padding-right: 0.5em;
    }

    .mw-content-ltr .tocnumber
    {
    padding-left: 0;
    padding-right: 0.5em;
    }

    .mw-content-rtl .tocnumber
    {
    padding-left: 0.5em;
    padding-right: 0;
    }

    .mw-warning
    {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    }

    div.floatright,table.floatright
    {
    margin: 0 0 0.5em 0.5em;
    }

    div.floatleft,table.floatleft
    {
    margin: 0 0.5em 0.5em 0;
    }

    div.thumb
    {
    margin-bottom: 0.5em;
    width: auto;
    background-color: transparent;
    }

    div.thumbinner
    {
    border: 1px solid #c8ccd1;
    padding: 3px;
    background-color: #f8f9fa;
    font-size: 94%;
    text-align: center;
    overflow: hidden;
    }

    html .thumbimage
    {
    background-color: #fff;
    border: 1px solid #c8ccd1;
    }

    html .thumbcaption
    {
    border: 0;
    line-height: 1.4em;
    padding: 3px;
    font-size: 94%;
    text-align: left;
    }

    .magnify
    {
    float: right;
    margin-left: 3px;
    }

    .magnify a
    {
    display: block;
    text-indent: 15px;
    white-space: nowrap;
    overflow: hidden;
    width: 15px;
    height: 11px;
    user-select: none;
    }

    img.thumbborder
    {
    border: 1px solid #eaecf0;
    }

    .mw-content-ltr .thumbcaption
    {
    text-align: left;
    }

    .mw-content-ltr .magnify
    {
    float: right;
    margin-left: 3px;
    margin-right: 0;
    }

    .mw-content-rtl .thumbcaption
    {
    text-align: right;
    }

    .mw-content-rtl .magnify
    {
    float: left;
    margin-left: 0;
    margin-right: 3px;
    }

    div.tright
    {
    margin: 0.5em 0 1.3em 1.4em;
    }

    div.tleft
    {
    margin: 0.5em 1.4em 1.3em 0;
    }

    body.mw-hide-empty-elt .mw-empty-elt
    {
    display: none;
    }

    .catlinks
    {
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    padding: 5px;
    margin-top: 1em;
    clear: both;
    }

    textarea
    {
    border: 1px solid #c8ccd1;
    }

    .editOptions
    {
    background-color: #eaecf0;
    color: #202122;
    border: 1px solid #c8ccd1;
    border-top: 0;
    padding: 1em 1em 1.5em 1em;
    margin-bottom: 2em;
    }

    .usermessage
    {
    background-color: #ffce7b;
    border: 1px solid #ffa500;
    color: #000;
    font-weight: bold;
    margin: 2em 0 1em;
    padding: 0.5em 1em;
    vertical-align: middle;
    }

    #siteNotice
    {
    position: relative;
    text-align: center;
    margin: 0;
    }

    #localNotice
    {
    margin-bottom: 0.9em;
    }

    #siteSub
    {
    display: none;
    }

    #contentSub,#contentSub2
    {
    font-size: 84%;
    line-height: 1.2em;
    margin: 0 0 1.4em 1em;
    color: #54595d;
    width: auto;
    }

    span.subpages
    {
    display: block;
    }

    .mw-content-ltr
    {
    direction: ltr;
    }

    .mw-content-rtl
    {
    direction: rtl;
    }

    .sitedir-ltr textarea,.sitedir-ltr input
    {
    direction: ltr;
    }

    .sitedir-rtl textarea,.sitedir-rtl input
    {
    direction: rtl;
    }

    .mw-userlink
    {
    word-wrap: break-word;
    hyphens: auto;
    unicode-bidi: embed;
    }

    mark
    {
    background-color: #ff0;
    color: #000;
    }

    wbr
    {
    display: inline-block;
    }

    input[type='submit'],input[type='button'],input[type='reset'],input[type='file']
    {
    direction: ltr;
    }

    textarea[dir='ltr'],input[dir='ltr']
    {
    direction: ltr;
    }

    textarea[dir='rtl'],input[dir='rtl']
    {
    direction: rtl;
    }

    abbr[title],.explain[title]
    {
    border-bottom: 1px dotted;
    cursor: help;
    }@  supports (text-decoration:underline dotted)
    {
    abbr[title],.explain[title]{border-bottom: 0;
    text-decoration: underline dotted;
    }
}

span.comment
{
    font-style: italic;
    unicode-bidi: isolate;
}

#editform,#toolbar,#wpTextbox1
{
    clear: both;
}

#toolbar
{
    height: 22px;
}

.mw-underline-always a
{
    text-decoration: underline;
}

.mw-underline-never a
{
    text-decoration: none;
}

li span.deleted,span.history-deleted
{
    text-decoration: line-through;
    color: #72777d;
    font-style: italic;
}

.not-patrolled
{
    background-color: #ffa;
}

.unpatrolled
{
    font-weight: bold;
    color: #d33;
}

div.patrollink
{
    font-size: 75%;
    text-align: right;
}

td.mw-label
{
    text-align: right;
    vertical-align: middle;
}

td.mw-input
{
    text-align: left;
}

td.mw-submit
{
    text-align: left;
    white-space: nowrap;
}

.mw-input-with-label
{
    white-space: nowrap;
    display: inline-block;
}

.mw-content-ltr .thumbcaption
{
    text-align: left;
}

.mw-content-ltr .magnify
{
    float: right;
}

.mw-content-rtl .thumbcaption
{
    text-align: right;
}

.mw-content-rtl .magnify
{
    float: left;
}

#catlinks
{
    text-align: left;
}

.catlinks ul
{
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none none;
}

.catlinks li
{
    display: inline-block;
    line-height: 1.25em;
    border-left: 1px solid #a2a9b1;
    margin: 0.125em 0;
    padding: 0 0.5em;
}

.catlinks li:first-child
{
    padding-left: 0.25em;
    border-left: 0;
}

.catlinks li a.mw-redirect
{
    font-style: italic;
}

.mw-hidden-cats-hidden
{
    display: none;
}

.catlinks-allhidden
{
    display: none;
}

p.mw-protect-editreasons,p.mw-filedelete-editreasons,p.mw-delete-editreasons
{
    font-size: 90%;
    text-align: right;
}

.autocomment,.autocomment a,.autocomment a:visited
{
    color: #72777d;
}

.newpage,.minoredit,.botedit
{
    font-weight: bold;
}

.mw-warning-with-logexcerpt
{
    clear: both;
}

.mw-warning-with-logexcerpt ul li
{
    font-size: 90%;
}

span.mw-revdelundel-link,strong.mw-revdelundel-link
{
    font-size: 90%;
}

span.mw-revdelundel-hidden,input.mw-revdelundel-hidden
{
    visibility: hidden;
}

td.mw-revdel-checkbox,th.mw-revdel-checkbox
{
    padding-right: 10px;
    text-align: center;
}

a.new
{
    color: #ba0000;
}

.plainlinks a.external
{
    background: none !important;
    padding: 0 !important;
}

.rtl a.external.free,.rtl a.external.autonumber
{
    direction: ltr;
    unicode-bidi: embed;
}

.wikitable
{
    background-color: #f8f9fa;
    color: #202122;
    margin: 1em 0;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
}

.wikitable > tr > th,.wikitable > tr > td,.wikitable > * > tr > th,.wikitable > * > tr > td
{
    border: 1px solid #a2a9b1;
    padding: 0.2em 0.4em;
}

.wikitable > tr > th,.wikitable > * > tr > th
{
    background-color: #eaecf0;
    text-align: center;
}

.wikitable > caption
{
    font-weight: bold;
}

.error,.warning,.success
{
    font-size: larger;
}

.error
{
    color: #d33;
}

.warning
{
    color: #ac6600;
}

.success
{
    color: #14866d;
}

.messagebox,.errorbox,.warningbox,.successbox
{
    color: #000;
    box-sizing: border-box;
    margin-bottom: 16px;
    border: 1px solid;
    padding: 12px 24px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
}

.messagebox :only-child,.errorbox :only-child,.warningbox :only-child,.successbox :only-child
{
    margin: 0;
}

.messagebox h2,.errorbox h2,.warningbox h2,.successbox h2
{
    color: inherit;
    display: inline;
    margin: 0 0.5em 0 0;
    border: 0;
    font-size: 1em;
    font-weight: bold;
}

.messagebox
{
    background-color: #eaecf0;
    border-color: #a2a9b1;
}

.errorbox
{
    background-color: #fee7e6;
    border-color: #d33;
}

.warningbox
{
    background-color: #fef6e7;
    border-color: #fc3;
}

.successbox
{
    background-color: #d5fdf4;
    border-color: #14866d;
}

.mw-infobox
{
    border: 2px solid #fc3;
    margin: 0.5em;
    clear: left;
    overflow: hidden;
}

.mw-infobox-left
{
    margin: 7px;
    float: left;
    width: 35px;
}

.mw-infobox-right
{
    margin: 0.5em 0.5em 0.5em 49px;
}

.previewnote
{
    margin-bottom: 1em;
}

.visualClear
{
    clear: both;
}

.mw-datatable
{
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
}

.mw-datatable td,.mw-datatable th
{
    border: 1px solid #a2a9b1;
    padding: 0.2em 0.4em;
}

.mw-datatable th
{
    background-color: #eaeeff;
}

.mw-datatable td
{
    background-color: #fff;
}

.mw-datatable tr:hover td
{
    background-color: #eaf3ff;
}

.mw-ajax-loader
{
    padding: 16px;
    position: relative;
    top: -16px;
}

.mw-small-spinner
{
    padding: 10px !important;
    margin-right: 0.6em;
}

.mw-content-ltr ul,.mw-content-rtl .mw-content-ltr ul
{
    margin: 0.3em 0 0 1.6em;
    padding: 0;
}

.mw-content-rtl ul,.mw-content-ltr .mw-content-rtl ul
{
    margin: 0.3em 1.6em 0 0;
    padding: 0;
}

.mw-content-ltr ol,.mw-content-rtl .mw-content-ltr ol
{
    margin: 0.3em 0 0 3.2em;
    padding: 0;
}

.mw-content-rtl ol,.mw-content-ltr .mw-content-rtl ol
{
    margin: 0.3em 3.2em 0 0;
    padding: 0;
}

.mw-content-ltr dd,.mw-content-rtl .mw-content-ltr dd
{
    margin-left: 1.6em;
    margin-right: 0;
}

.mw-content-rtl dd,.mw-content-ltr .mw-content-rtl dd
{
    margin-right: 1.6em;
    margin-left: 0;
}

h1:lang(anp),h1:lang(as),h1:lang(bh),h1:lang(bho),h1:lang(bn),h1:lang(gu),h1:lang(hi),h1:lang(kn),h1:lang(ks),h1:lang(ml),h1:lang(mr),h1:lang(my),h1:lang(mai),h1:lang(ne),h1:lang(new),h1:lang(or),h1:lang(pa),h1:lang(pi),h1:lang(sa),h1:lang(ta),h1:lang(te)
{
    line-height: 1.6em !important;
}

h2:lang(anp),h3:lang(anp),h4:lang(anp),h5:lang(anp),h6:lang(anp),h2:lang(as),h3:lang(as),h4:lang(as),h5:lang(as),h6:lang(as),h2:lang(bho),h3:lang(bho),h4:lang(bho),h5:lang(bho),h6:lang(bho),h2:lang(bh),h3:lang(bh),h4:lang(bh),h5:lang(bh),h6:lang(bh),h2:lang(bn),h3:lang(bn),h4:lang(bn),h5:lang(bn),h6:lang(bn),h2:lang(gu),h3:lang(gu),h4:lang(gu),h5:lang(gu),h6:lang(gu),h2:lang(hi),h3:lang(hi),h4:lang(hi),h5:lang(hi),h6:lang(hi),h2:lang(kn),h3:lang(kn),h4:lang(kn),h5:lang(kn),h6:lang(kn),h2:lang(ks),h3:lang(ks),h4:lang(ks),h5:lang(ks),h6:lang(ks),h2:lang(ml),h3:lang(ml),h4:lang(ml),h5:lang(ml),h6:lang(ml),h2:lang(mr),h3:lang(mr),h4:lang(mr),h5:lang(mr),h6:lang(mr),h2:lang(my),h3:lang(my),h4:lang(my),h5:lang(my),h6:lang(my),h2:lang(mai),h3:lang(mai),h4:lang(mai),h5:lang(mai),h6:lang(mai),h2:lang(ne),h3:lang(ne),h4:lang(ne),h5:lang(ne),h6:lang(ne),h2:lang(new),h3:lang(new),h4:lang(new),h5:lang(new),h6:lang(new),h2:lang(or),h3:lang(or),h4:lang(or),h5:lang(or),h6:lang(or),h2:lang(pa),h3:lang(pa),h4:lang(pa),h5:lang(pa),h6:lang(pa),h2:lang(pi),h3:lang(pi),h4:lang(pi),h5:lang(pi),h6:lang(pi),h2:lang(sa),h3:lang(sa),h4:lang(sa),h5:lang(sa),h6:lang(sa),h2:lang(ta),h3:lang(ta),h4:lang(ta),h5:lang(ta),h6:lang(ta),h2:lang(te),h3:lang(te),h4:lang(te),h5:lang(te),h6:lang(te)
{
    line-height: 1.2em;
}

ol:lang(azb) li,ol:lang(bcc) li,ol:lang(bgn) li,ol:lang(bqi) li,ol:lang(fa) li,ol:lang(glk) li,ol:lang(kk-arab) li,ol:lang(lrc) li,ol:lang(luz) li,ol:lang(mzn) li
{
    list-style-type: persian;
}

ol:lang(ckb) li,ol:lang(sdh) li
{
    list-style-type: arabic-indic;
}

ol:lang(hi) li,ol:lang(mai) li,ol:lang(mr) li,ol:lang(ne) li
{
    list-style-type: devanagari;
}

ol:lang(as) li,ol:lang(bn) li
{
    list-style-type: bengali;
}

ol:lang(or) li
{
    list-style-type: oriya;
}

.toc ul
{
    margin: 0.3em 0;
}

.mw-content-ltr .toc ul,.mw-content-rtl .mw-content-ltr .toc ul
{
    text-align: left;
}

.mw-content-rtl .toc ul,.mw-content-ltr .mw-content-rtl .toc ul
{
    text-align: right;
}

.mw-content-ltr .toc ul ul,.mw-content-rtl .mw-content-ltr .toc ul ul
{
    margin: 0 0 0 2em;
}

.mw-content-rtl .toc ul ul,.mw-content-ltr .mw-content-rtl .toc ul ul
{
    margin: 0 2em 0 0;
}

.toc .toctitle
{
    direction: ltr;
}

#mw-clearyourcache,#mw-sitecsspreview,#mw-sitejspreview,#mw-usercsspreview,#mw-userjspreview
{
    direction: ltr;
    unicode-bidi: embed;
}

#mw-revision-info,#mw-revision-info-current,#mw-revision-nav
{
    direction: ltr;
}

div.tright,div.floatright,table.floatright
{
    clear: right;
    float: right;
}

div.tleft,div.floatleft,table.floatleft
{
    float: left;
    clear: left;
}

#mw-credits a
{
    unicode-bidi: embed;
}

.printfooter
{
    display: none;
}

.xdebug-error
{
    position: absolute;
    z-index: 99;
}

.mw-editsection
{
    user-select: none;
}

.mw-editsection,.mw-editsection-like
{
    font-size: small;
    font-weight: normal;
    margin-left: 1em;
    vertical-align: baseline;
    line-height: 1em;
}

.mw-content-ltr .mw-editsection,.mw-content-rtl .mw-content-ltr .mw-editsection
{
    margin-left: 1em;
}

.mw-content-rtl .mw-editsection,.mw-content-ltr .mw-content-rtl .mw-editsection
{
    margin-right: 1em;
}

sup,sub
{
    line-height: 1;
}}

.firstHeading:before
{
    content: url(//de.wiktionary.org/static/images/mobile/copyright/wiktionary-wordmark-en.svg);
    display: block;
    height: 19px;
    left: -9999px;
    line-height: 0;
    margin-bottom: 20px;
    position: absolute;
    width: 107px;
}

/* Genesis Bustamante */
#showSeeAlso {
    left: initial !important;
    right: 0 !important;
    top: 3.7em !important;
}
  
/* Genesis Bustamante */
table.wikitable.inflection-table {
  clear: right;
  float: right;
}

/* Genesis Bustamante */
.ns-0 #mw-content-text h3 {
  clear: both;
  padding-left: 0.0em;
  background: #EAF3FC;
  border-top: solid 1px #aaaaaa;
  border-bottom: dotted 1px #aaaaaa;
}

/* Genesis Bustamante */
.ns-0 #mw-content-text h2 {
  clear: none;
  border-top: solid 1px #aaaaaa;
  border-bottom: solid 1px #aaaaaa;
  padding: 0.5em 0.5em 0.5em 0.0em;
  background: #DAEAFA;
  margin-top: 1.0em;
  margin-bottom: -0.1em;
}
  
}
