/* Ajustes para en.wiktionary.org (estilo completo) */

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("en.wiktionary.org") {

#p-lang .uls-settings-trigger
{
  background: transparent url(http://en.wiktionary.org/w/extensions/UniversalLanguageSelector/resources/images/cog-sprite.svg?c3fa1) no-repeat center top;
  border: 0;
  min-height: 16px;
  min-width: 16px;
  float: right;
  cursor: pointer;
}

#p-lang .uls-settings-trigger:focus
{
  outline: 1px solid #36c;
}

.skin-vector #p-lang .uls-settings-trigger
{
  margin-top: 8px;
}

#p-lang .uls-settings-trigger:hover
{
  background-position: center -16px;
}

.client-nojs #ca-ve-edit,.client-nojs .mw-editsection-divider,.client-nojs .mw-editsection-visualeditor,.ve-not-available #ca-ve-edit,.ve-not-available .mw-editsection-divider,.ve-not-available .mw-editsection-visualeditor
{
  display: none;
}

.mw-filepage-resolutioninfo
{
  font-size: smaller;
}

#filehistory
{
  clear: both;
}

.filehistory th,.filehistory td
{
  vertical-align: top;
}

.filehistory th
{
  text-align: left;
}

.filehistory td.mw-imagepage-filesize,.filehistory th.mw-imagepage-filesize
{
  white-space: nowrap;
}

.filehistory td.filehistory-selected
{
  font-weight: bold;
}

.filehistory a img,#file img:hover
{
  background: #fff url(http://en.wiktionary.org/w/resources/src/mediawiki.action/images/checker.png?bdcf5) repeat;
}

#filetoc
{
  text-align: center;
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  padding: 5px;
  font-size: 95%;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
}

#filetoc li
{
  display: inline;
  list-style-type: none;
  padding-right: 2em;
}

#shared-image-dup,#shared-image-conflict
{
  font-style: italic;
}

.mw_metadata
{
  font-size: 0.8em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  border: 0;
  border-collapse: collapse;
  width: 400px;
}

.mw_metadata caption
{
  font-weight: bold;
}

.mw_metadata td,.mw_metadata th
{
  border: 1px solid #a2a9b1;
  padding-left: 5px;
  padding-right: 5px;
}

.mw_metadata th
{
  background-color: #f8f9fa;
  font-weight: normal;
  text-align: center;
}

.mw_metadata td
{
  background-color: #fcfcfc;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.mw_metadata ul.metadata-langlist
{
  list-style-type: none;
  list-style-image: none;
  padding-right: 5px;
  padding-left: 5px;
  margin: 0;
}

@media screen
{
  .mw-parser-output a.external,.link-https
  {
    background-position: center right;
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,transparent),url(http://en.wiktionary.org/w/resources/src/mediawiki.skinning/images/external-ltr.svg?59558);
    padding-right: 13px;
  }

  .mw-parser-output a.external[href^='mailto:'],.link-mailto
  {
    background-position: center right;
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,transparent),url(http://en.wiktionary.org/w/resources/src/mediawiki.skinning/images/mail.svg?d3bb8);
    padding-right: 13px;
  }

  .mw-parser-output a.external[href^='ftp://'],.link-ftp
  {
    background-position: center right;
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,transparent),url(http://en.wiktionary.org/w/resources/src/mediawiki.skinning/images/ftp-ltr.svg?c5643);
    padding-right: 13px;
  }

  .mw-parser-output a.external[href^='irc://'],.mw-parser-output a.external[href^='ircs://'],.link-irc
  {
    background-position: center right;
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,transparent),url(http://en.wiktionary.org/w/resources/src/mediawiki.skinning/images/chat-ltr.svg?0108a);
    padding-right: 13px;
  }

  .mw-parser-output a.external[href$='.ogg'],.mw-parser-output a.external[href$='.OGG'],.mw-parser-output a.external[href$='.mid'],.mw-parser-output a.external[href$='.MID'],.mw-parser-output a.external[href$='.midi'],.mw-parser-output a.external[href$='.MIDI'],.mw-parser-output a.external[href$='.mp3'],.mw-parser-output a.external[href$='.MP3'],.mw-parser-output a.external[href$='.wav'],.mw-parser-output a.external[href$='.WAV'],.mw-parser-output a.external[href$='.wma'],.mw-parser-output a.external[href$='.WMA'],.link-audio
  {
    background-position: center right;
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,transparent),url(http://en.wiktionary.org/w/resources/src/mediawiki.skinning/images/audio-ltr.svg?4c880);
    padding-right: 13px;
  }

  .mw-parser-output a.external[href$='.ogm'],.mw-parser-output a.external[href$='.OGM'],.mw-parser-output a.external[href$='.avi'],.mw-parser-output a.external[href$='.AVI'],.mw-parser-output a.external[href$='.mpeg'],.mw-parser-output a.external[href$='.MPEG'],.mw-parser-output a.external[href$='.mpg'],.mw-parser-output a.external[href$='.MPG'],.link-video
  {
    background-position: center right;
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,transparent),url(http://en.wiktionary.org/w/resources/src/mediawiki.skinning/images/video.svg?a3758);
    padding-right: 13px;
  }

  .mw-parser-output a.external[href$='.pdf'],.mw-parser-output a.external[href$='.PDF'],.mw-parser-output a.external[href*='.pdf#'],.mw-parser-output a.external[href*='.PDF#'],.mw-parser-output a.external[href*='.pdf?'],.mw-parser-output a.external[href*='.PDF?'],.link-document
  {
    background-position: center right;
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,transparent),url(http://en.wiktionary.org/w/resources/src/mediawiki.skinning/images/document-ltr.svg?0bf90);
    padding-right: 13px;
  }

  .mw-parser-output a.extiw,.mw-parser-output a.extiw:active
  {
    color: #36b;
  }

  .mw-parser-output a.external
  {
    color: #36b;
  }

  #column-content
  {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .mw-body
  {
    padding: 1em;
    position: relative;
    z-index: 2;
    background: #ffffff;
    color: #000000;
    border: 1px solid #aaaaaa;
    line-height: 1.5em;
  }

  #column-one h2
  {
    position: absolute;
    top: -9999px;
    left: 0;
  }

  body
  {
    font-family: sans-serif;
    font-size: x-small;
    background: #ddd;
    color: #000000;
    margin: 0;
    padding: 0;
    direction: ltr;
    unicode-bidi: embed;
  }

  #globalWrapper
  {
    font-size: 127%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
  }

  a
  {
    color: #002bb8;
  }

  a:visited
  {
    color: #5a3696;
  }

  a.new,#p-personal a.new
  {
    color: #cc2200;
  }

  ul
  {
    list-style-type: square;
    list-style-image: url(http://en.wiktionary.org/w/skins/MonoBook/resources/images/bullet.svg?36e03);
  }

  pre,.mw-code
  {
    line-height: 1.1em;
  }

  .firstHeading
  {
    margin-top: 0.4em;
    margin-bottom: 0.1em;
    padding-top: 0;
    overflow: visible;
  }

  .mw-indicators
  {
    float: right;
    line-height: 1.5em;
    font-size: 95%;
  }

  .mw-indicator
  {
    display: inline-block;
  }

  .mw-jump-link:not(:focus)
  {
    display: block;
    position: absolute !important;
    clip: rect(1px,1px,1px,1px);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
  }

  #siteNotice
  {
    font-size: 95%;
    padding: 0 0.9em;
  }

  #siteNotice p
  {
    margin: 0;
    padding: 0;
  }

  #localNotice
  {
    margin: 0;
  }

  table.rimage
  {
    float: right;
    position: relative;
    margin-left: 1em;
    margin-bottom: 1em;
    text-align: center;
  }

  .portlet
  {
    overflow: hidden;
  }

  .portlet h3
  {
    background: transparent;
    display: inline;
    height: 1em;
    font-size: 91%;
    white-space: nowrap;
  }

  .portlet ul
  {
    line-height: 1.5em;
    font-size: 95%;
  }

  .portlet li
  {
    padding: 0;
    margin: 0;
  }

  .pBody
  {
    font-size: 95%;
    color: #000000;
    border-collapse: collapse;
  }

  .pBody:after
  {
    content: '';
    clear: both;
    display: block;
  }

  #p-logo
  {
    position: absolute;
    z-index: 3;
    overflow: visible;
  }

  #p-logo a,#p-logo a:hover
  {
    display: block;
    background-repeat: no-repeat;
    text-decoration: none;
  }

  li#pt-anonuserpage
  {
    color: #707070;
  }

  .mw-footer
  {
    background-color: #ffffff;
    border-top: 1px solid #fabd23;
    border-bottom: 1px solid #fabd23;
    margin: 0.6em 0 1em 0;
    overflow: hidden;
    padding: 0.4em 0 0.3em 0;
    text-align: center;
    font-size: 90%;
  }

  .mw-footer li
  {
    display: inline;
    margin: 0 1.3em;
  }

  #userloginprompt,#languagelinks
  {
    font-size: 85%;
  }

  #login-sectiontip
  {
    font-size: 85%;
    line-height: 1.2;
    padding-top: 2em;
  }

  #pagehistory li.selected
  {
    position: relative;
  }

  div.patrollink
  {
    clear: both;
  }

  .sharedUploadNotice
  {
    font-style: italic;
  }

  .toggle
  {
    margin-left: 2em;
    text-indent: -2em;
  }

  input#wpSave,input#wpDiff
  {
    margin-right: 0.33em;
  }

  #wpSave
  {
    font-weight: bold;
  }

  div.noarticletext
  {
    border: 1px solid #aaaaaa;
    background: #ffffff;
    padding: 0.2em 1em;
    color: #000000;
  }

  #powersearch p
  {
    margin-top: 0;
  }

  div.multipageimagenavbox
  {
    border: solid 1px #aaaaaa;
    padding: 4px;
    margin: 1em;
    background: #f9f9f9;
  }

  div.multipageimagenavbox div.thumb
  {
    border: 0;
    margin-left: 2em;
    margin-right: 2em;
  }

  div.multipageimagenavbox hr
  {
    margin: 6px;
  }

  table.multipageimage td
  {
    text-align: center;
  }

  .templatesUsed
  {
    margin-top: 1.5em;
  }

  .mw-summary-preview
  {
    margin: 0.1em 0;
  }

  div.mw-lag-warn-normal,div.mw-lag-warn-high
  {
    padding: 3px;
    text-align: center;
    margin: 3px auto;
  }

  div.mw-lag-warn-normal
  {
    border: 1px solid #fc6;
    background-color: #ffc;
  }

  div.mw-lag-warn-high
  {
    font-weight: bold;
    border: 2px solid #f03;
    background-color: #fcc;
  }

  .MediaTransformError
  {
    background-color: #aaaaaa;
    padding: 0.1em;
  }

  .MediaTransformError td
  {
    text-align: center;
    vertical-align: middle;
    font-size: 90%;
  }

  .tipsy
  {
    font-size: 127%;
  }

  #column-content
  {
    float: right;
    margin: 0 0 0.6em -12.2em;
  }

  .mw-body
  {
    margin: 2.8em 0 0 12.2em;
    border-right: 0;
  }

  #mw-data-after-content
  {
    margin-left: 12.2em;
  }

  #column-one
  {
    padding-top: 2.8em;
  }

  .special li
  {
    line-height: 1.4em;
    margin: 0;
    padding: 0;
  }

  .portlet
  {
    border: 0;
    margin: 0 0 0.5em;
    padding: 0;
    float: none;
    width: 11.6em;
  }

  .portlet h3
  {
    padding: 0 1em 0 0.5em;
    text-transform: lowercase;
    font-weight: normal;
  }

  .pBody
  {
    background-color: #fff;
    border: 1px solid #aaa;
    padding: 0 0.8em 0.3em 0.5em;
  }

  li#pt-userpage
  {
    text-transform: none;
  }

  .capitalize-all-nouns .portlet h3,.capitalize-all-nouns #p-personal ul,.capitalize-all-nouns #p-cactions ul li a
  {
    text-transform: none;
  }

  .no-text-transform
  {
    text-transform: none;
  }

  #p-logo
  {
    top: 0;
    left: 0;
    height: 155px;
    width: 12em;
  }

  #p-logo a,#p-logo a:hover
  {
    height: 155px;
    width: 12.2em;
    background-position: 35% 50% !important;
  }

  #p-search
  {
    position: relative;
    z-index: 3;
  }

  input.searchButton
  {
    margin-top: 1px;
    font-size: 95%;
  }

  #searchGoButton
  {
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-weight: bold;
  }

  #searchInput
  {
    width: 10.9em;
    margin: 0;
    font-size: 95%;
  }

  #p-search .pBody
  {
    padding: 0.5em 0.4em 0.4em 0.4em;
    text-align: center;
  }

  #p-search #searchform div div
  {
    margin-top: 0.4em;
    font-size: 95%;
  }

  #p-personal
  {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
    overflow: visible;
    line-height: 1.2em;
  }

  #p-personal h3
  {
    position: absolute;
    top: -9999px;
  }

  #p-personal .portlet,#p-personal .pBody
  {
    z-index: 0;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: visible;
    background: none;
  }

  #p-personal ul
  {
    border: 0;
    line-height: 1.4em;
    color: #2f6fab;
    padding: 0;
    padding-right: 2em;
    padding-left: 14em;
    margin: 0;
    float: right;
    list-style-type: none;
    list-style-image: none;
    z-index: 0;
    background: none;
    cursor: default;
    text-transform: lowercase;
    box-sizing: border-box;
    max-width: 100%;
  }

  #p-personal li
  {
    z-index: 0;
    border: 0;
    padding: 0;
    color: #2f6fab;
    display: inline;
    margin-left: 1em;
    line-height: 1.2em;
    background: none;
  }

  #p-personal li a
  {
    color: #005896;
    text-decoration: none;
    padding-bottom: 0.2em;
  }

  #p-personal li a:hover
  {
    background-color: #fff;
    text-decoration: none;
  }

  #p-personal li.active a:hover
  {
    background-color: transparent;
  }

  #p-lang
  {
    position: relative;
    z-index: 3;
  }

  #p-cactions
  {
    position: absolute;
    top: 1.3em;
    left: 11.5em;
    margin: 0;
    white-space: nowrap;
    width: 76%;
    line-height: 1.1em;
    overflow: visible;
    background: none;
    border-collapse: collapse;
    padding-left: 1em;
    font-size: 95%;
  }

  #p-cactions h3
  {
    position: absolute;
    top: -9999px;
  }

  #p-cactions ul
  {
    list-style-type: none;
    list-style-image: none;
  }

  #p-cactions li
  {
    display: inline;
    border: 1px solid #aaa;
    border-bottom: 0;
    margin: 0 0.5em 0 0;
    padding: 0 0 1em 0;
    overflow: visible;
    background: #fff;
  }

  #p-cactions li.selected
  {
    border-color: #fabd23;
    font-weight: bold;
  }

  #p-cactions li.selected a
  {
    z-index: 3;
    background-color: #fff;
  }

  #p-cactions li a
  {
    background-color: #fbfbfb;
    color: #002bb8;
    border: 0;
    padding: 0 0.8em 0.3em;
    position: relative;
    z-index: 0;
    margin: 0;
    text-decoration: none;
    text-transform: lowercase;
  }

  #p-cactions li a:hover
  {
    z-index: 3;
    text-decoration: none;
    background-color: #fff;
  }

  #p-cactions li.istalk
  {
    margin-right: 0;
  }

  #p-cactions li.istalk a
  {
    padding-right: 0.5em;
  }

  #p-cactions .new a
  {
    color: #c20;
  }

  #p-cactions #ca-addsection a
  {
    padding-left: 0.4em;
    padding-right: 0.4em;
  }

  #p-cactions .pBody
  {
    font-size: 1em;
    background-color: transparent;
    color: inherit;
    border-collapse: inherit;
    border: 0;
    padding: 0;
  }

  li#ca-talk
  {
    margin-right: 1.6em;
  }

  li#ca-watch,li#ca-unwatch,li#ca-varlang-0,li#ca-print
  {
    margin-left: 1.6em;
  }

  #f-poweredbyico,#f-copyrightico
  {
    margin: 0 8px;
    position: relative;
    top: -2px;
  }

  #f-poweredbyico
  {
    float: right;
    height: 1%;
  }

  #f-copyrightico
  {
    float: left;
    height: 1%;
  }

  a
  {
    text-decoration: none;
    color: #0645ad;
    background: none;
  }

  a:not([href])
  {
    cursor: pointer;
  }

  a:visited
  {
    color: #0b0080;
  }

  a:active
  {
    color: #faa700;
  }

  a:hover,a:focus
  {
    text-decoration: underline;
  }

  a:lang(ar),a:lang(kk-arab),a:lang(mzn),a:lang(ps),a:lang(ur)
  {
    text-decoration: none;
  }

  a.stub
  {
    color: #723;
  }

  a.new,#p-personal a.new
  {
    color: #d33;
  }

  a.mw-selflink
  {
    color: inherit;
    font-weight: bold;
    text-decoration: inherit;
  }

  a.mw-selflink:hover
  {
    cursor: inherit;
    text-decoration: inherit;
  }

  a.mw-selflink:active,a.mw-selflink:visited
  {
    color: inherit;
  }

  a.new:visited,#p-personal a.new:visited
  {
    color: #a55858;
  }

  .mw-parser-output a.extiw,.mw-parser-output a.external
  {
    color: #36b;
  }

  .mw-parser-output a.extiw:visited,.mw-parser-output a.external:visited
  {
    color: #636;
  }

  .mw-parser-output a.extiw:active,.mw-parser-output a.external:active
  {
    color: #b63;
  }

  .mw-parser-output a.external.free
  {
    word-wrap: break-word;
  }

  img
  {
    border: 0;
    vertical-align: middle;
  }

  hr
  {
    height: 1px;
    background-color: #a2a9b1;
    border: 0;
    margin: 0.2em 0;
  }

  h1,h2,h3,h4,h5,h6
  {
    color: #000;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
    overflow: hidden;
  }

  h1,h2
  {
    margin-bottom: 0.6em;
    border-bottom: 1px solid #a2a9b1;
  }

  h3,h4,h5
  {
    margin-bottom: 0.3em;
  }

  h1
  {
    font-size: 188%;
    font-weight: normal;
  }

  h2
  {
    font-size: 150%;
    font-weight: normal;
  }

  h3
  {
    font-size: 128%;
  }

  h4
  {
    font-size: 116%;
  }

  h5
  {
    font-size: 108%;
  }

  h6
  {
    font-size: 100%;
  }

  p
  {
    margin: 0.4em 0 0.5em 0;
  }

  p img
  {
    margin: 0;
  }

  ul
  {
    margin: 0.3em 0 0 1.6em;
    padding: 0;
  }

  ol
  {
    margin: 0.3em 0 0 3.2em;
    padding: 0;
    list-style-image: none;
  }

  li
  {
    margin-bottom: 0.1em;
  }

  dt
  {
    font-weight: bold;
    margin-bottom: 0.1em;
  }

  dl
  {
    margin-top: 0.2em;
    margin-bottom: 0.5em;
  }

  dd
  {
    margin-left: 1.6em;
    margin-bottom: 0.1em;
  }

  pre,code,tt,kbd,samp,.mw-code
  {
    font-family: monospace,monospace;
  }

  code
  {
    color: #000;
    background-color: #f8f9fa;
    border: 1px solid #eaecf0;
    border-radius: 2px;
    padding: 1px 4px;
  }

  pre,.mw-code
  {
    color: #000;
    background-color: #f8f9fa;
    border: 1px solid #eaecf0;
    padding: 1em;
    white-space: pre-wrap;
    overflow-x: hidden;
    word-wrap: break-word;
  }

  table
  {
    font-size: 100%;
  }

  fieldset
  {
    border: 1px solid #2a4b8d;
    margin: 1em 0 1em 0;
    padding: 0 1em 1em;
  }

  legend
  {
    padding: 0.5em;
    font-size: 95%;
  }

  form
  {
    border: 0;
    margin: 0;
  }

  textarea
  {
    width: 100%;
    padding: 0.1em;
    display: block;
    box-sizing: border-box;
  }

  .center
  {
    width: 100%;
    text-align: center;
  }

  *.center *
  {
    margin-left: auto;
    margin-right: auto;
  }

  .small
  {
    font-size: 94%;
  }

  table.small
  {
    font-size: 100%;
  }

  .toc,.mw-warning,.toccolours
  {
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    padding: 5px;
    font-size: 95%;
  }

  .toc
  {
    display: table;
    padding: 7px;
  }

  table.toc
  {
    border-collapse: collapse;
  }

  table.toc td
  {
    padding: 0;
  }

  .toc h2
  {
    display: inline;
    border: 0;
    padding: 0;
    font-size: 100%;
    font-weight: bold;
  }

  .toc .toctitle
  {
    text-align: center;
  }

  .toc ul
  {
    list-style-type: none;
    list-style-image: none;
    margin-left: 0;
    padding: 0;
    text-align: left;
  }

  .toc ul ul
  {
    margin: 0 0 0 2em;
  }

  .tocnumber,.toctext
  {
    display: table-cell;
    text-decoration: inherit;
  }

  .tocnumber
  {
    color: #202122;
    padding-left: 0;
    padding-right: 0.5em;
  }

  .mw-content-ltr .tocnumber
  {
    padding-left: 0;
    padding-right: 0.5em;
  }

  .mw-content-rtl .tocnumber
  {
    padding-left: 0.5em;
    padding-right: 0;
  }

  .mw-warning
  {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
  }

  div.floatright,table.floatright
  {
    margin: 0 0 0.5em 0.5em;
  }

  div.floatleft,table.floatleft
  {
    margin: 0 0.5em 0.5em 0;
  }

  div.thumb
  {
    margin-bottom: 0.5em;
    width: auto;
    background-color: transparent;
  }

  div.thumbinner
  {
    border: 1px solid #c8ccd1;
    padding: 3px;
    background-color: #f8f9fa;
    font-size: 94%;
    text-align: center;
    overflow: hidden;
  }

  html .thumbimage
  {
    background-color: #fff;
    border: 1px solid #c8ccd1;
  }

  html .thumbcaption
  {
    border: 0;
    line-height: 1.4em;
    padding: 3px;
    font-size: 94%;
    text-align: left;
  }

  .magnify
  {
    float: right;
    margin-left: 3px;
  }

  .magnify a
  {
    display: block;
    text-indent: 15px;
    white-space: nowrap;
    overflow: hidden;
    width: 15px;
    height: 11px;
    background-image: linear-gradient(transparent,transparent),url(http://en.wiktionary.org/w/resources/src/mediawiki.skinning/images/magnify-clip-ltr.svg?8330e);
  }

  img.thumbborder
  {
    border: 1px solid #eaecf0;
  }

  .mw-content-ltr .thumbcaption
  {
    text-align: left;
  }

  .mw-content-ltr .magnify
  {
    float: right;
    margin-left: 3px;
    margin-right: 0;
  }

  .mw-content-ltr .magnify a
  {
    background-image: linear-gradient(transparent,transparent),url(http://en.wiktionary.org/w/resources/src/mediawiki.skinning/images/magnify-clip-ltr.svg?8330e);
  }

  .mw-content-rtl .thumbcaption
  {
    text-align: right;
  }

  .mw-content-rtl .magnify
  {
    float: left;
    margin-left: 0;
    margin-right: 3px;
  }

  .mw-content-rtl .magnify a
  {
    background-image: linear-gradient(transparent,transparent),url(http://en.wiktionary.org/w/resources/src/mediawiki.skinning/images/magnify-clip-rtl.svg?38fd5);
  }

  div.tright
  {
    margin: 0.5em 0 1.3em 1.4em;
  }

  div.tleft
  {
    margin: 0.5em 1.4em 1.3em 0;
  }

  body.mw-hide-empty-elt .mw-empty-elt
  {
    display: none;
  }

  .catlinks
  {
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    padding: 5px;
    margin-top: 1em;
    clear: both;
  }

  textarea
  {
    border: 1px solid #c8ccd1;
  }

  .editOptions
  {
    background-color: #eaecf0;
    color: #202122;
    border: 1px solid #c8ccd1;
    border-top: 0;
    padding: 1em 1em 1.5em 1em;
    margin-bottom: 2em;
  }

  .usermessage
  {
    background-color: #ffce7b;
    border: 1px solid #ffa500;
    color: #000;
    font-weight: bold;
    margin: 2em 0 1em;
    padding: 0.5em 1em;
    vertical-align: middle;
  }

  #siteNotice
  {
    position: relative;
    text-align: center;
    margin: 0;
  }

  #localNotice
  {
    margin-bottom: 0.9em;
  }

  #siteSub
  {
    display: none;
  }

  #contentSub,#contentSub2
  {
    font-size: 84%;
    line-height: 1.2em;
    margin: 0 0 1.4em 1em;
    color: #54595d;
    width: auto;
  }

  span.subpages
  {
    display: block;
  }

  .mw-content-ltr
  {
    direction: ltr;
  }

  .mw-content-rtl
  {
    direction: rtl;
  }

  .sitedir-ltr textarea,.sitedir-ltr input
  {
    direction: ltr;
  }

  .sitedir-rtl textarea,.sitedir-rtl input
  {
    direction: rtl;
  }

  .mw-userlink
  {
    word-wrap: break-word;
    hyphens: auto;
    unicode-bidi: embed;
  }

  mark
  {
    background-color: #ff0;
    color: #000;
  }

  wbr
  {
    display: inline-block;
  }

  input[type='submit'],input[type='button'],input[type='reset'],input[type='file']
  {
    direction: ltr;
  }

  textarea[dir='ltr'],input[dir='ltr']
  {
    direction: ltr;
  }

  textarea[dir='rtl'],input[dir='rtl']
  {
    direction: rtl;
  }

  abbr[title],.explain[title]
  {
    border-bottom: 1px dotted;
    cursor: help;
  }

}

span.comment
{
  font-style: italic;
  unicode-bidi: isolate;
}

#editform,#toolbar,#wpTextbox1
{
  clear: both;
}

#toolbar
{
  height: 22px;
}

.mw-underline-always a
{
  text-decoration: underline;
}

.mw-underline-never a
{
  text-decoration: none;
}

li span.deleted,span.history-deleted
{
  text-decoration: line-through;
  color: #72777d;
  font-style: italic;
}

.not-patrolled
{
  background-color: #ffa;
}

.unpatrolled
{
  font-weight: bold;
  color: #d33;
}

div.patrollink
{
  font-size: 75%;
  text-align: right;
}

td.mw-label
{
  text-align: right;
  vertical-align: middle;
}

td.mw-input
{
  text-align: left;
}

td.mw-submit
{
  text-align: left;
  white-space: nowrap;
}

.mw-input-with-label
{
  white-space: nowrap;
  display: inline-block;
}

.mw-content-ltr .thumbcaption
{
  text-align: left;
}

.mw-content-ltr .magnify
{
  float: right;
}

.mw-content-rtl .thumbcaption
{
  text-align: right;
}

.mw-content-rtl .magnify
{
  float: left;
}

#catlinks
{
  text-align: left;
}

.catlinks ul
{
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none none;
}

.catlinks li
{
  display: inline-block;
  line-height: 1.25em;
  border-left: 1px solid #a2a9b1;
  margin: 0.125em 0;
  padding: 0 0.5em;
}

.catlinks li:first-child
{
  padding-left: 0.25em;
  border-left: 0;
}

.catlinks li a.mw-redirect
{
  font-style: italic;
}

.mw-hidden-cats-hidden
{
  display: none;
}

.catlinks-allhidden
{
  display: none;
}

p.mw-protect-editreasons,p.mw-filedelete-editreasons,p.mw-delete-editreasons
{
  font-size: 90%;
  text-align: right;
}

.autocomment,.autocomment a,.autocomment a:visited
{
  color: #72777d;
}

.newpage,.minoredit,.botedit
{
  font-weight: bold;
}

.mw-warning-with-logexcerpt
{
  clear: both;
}

.mw-warning-with-logexcerpt ul li
{
  font-size: 90%;
}

span.mw-revdelundel-link,strong.mw-revdelundel-link
{
  font-size: 90%;
}

span.mw-revdelundel-hidden,input.mw-revdelundel-hidden
{
  visibility: hidden;
}

td.mw-revdel-checkbox,th.mw-revdel-checkbox
{
  padding-right: 10px;
  text-align: center;
}

a.new
{
  color: #ba0000;
}

.plainlinks a.external
{
  background: none !important;
  padding: 0 !important;
}

.rtl a.external.free,.rtl a.external.autonumber
{
  direction: ltr;
  unicode-bidi: embed;
}

.wikitable
{
  background-color: #f8f9fa;
  color: #202122;
  margin: 1em 0;
  border: 1px solid #a2a9b1;
  border-collapse: collapse;
}

.wikitable > tr > th,.wikitable > tr > td,.wikitable > * > tr > th,.wikitable > * > tr > td
{
  border: 1px solid #a2a9b1;
  padding: 0.2em 0.4em;
}

.wikitable > tr > th,.wikitable > * > tr > th
{
  background-color: #eaecf0;
  text-align: center;
}

.wikitable > caption
{
  font-weight: bold;
}

.error,.warning,.success
{
  font-size: larger;
}

.error
{
  color: #d33;
}

.warning
{
  color: #ac6600;
}

.success
{
  color: #14866d;
}

.messagebox,.errorbox,.warningbox,.successbox
{
  color: #000;
  box-sizing: border-box;
  margin-bottom: 16px;
  border: 1px solid;
  padding: 12px 24px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
}

.messagebox :only-child,.errorbox :only-child,.warningbox :only-child,.successbox :only-child
{
  margin: 0;
}

.messagebox h2,.errorbox h2,.warningbox h2,.successbox h2
{
  color: inherit;
  display: inline;
  margin: 0 0.5em 0 0;
  border: 0;
  font-size: 1em;
  font-weight: bold;
}

.messagebox
{
  background-color: #eaecf0;
  border-color: #a2a9b1;
}

.errorbox
{
  background-color: #fee7e6;
  border-color: #d33;
}

.warningbox
{
  background-color: #fef6e7;
  border-color: #fc3;
}

.successbox
{
  background-color: #d5fdf4;
  border-color: #14866d;
}

.mw-infobox
{
  border: 2px solid #fc3;
  margin: 0.5em;
  clear: left;
  overflow: hidden;
}

.mw-infobox-left
{
  margin: 7px;
  float: left;
  width: 35px;
}

.mw-infobox-right
{
  margin: 0.5em 0.5em 0.5em 49px;
}

.previewnote
{
  margin-bottom: 1em;
}

.visualClear
{
  clear: both;
}

.mw-datatable
{
  border: 1px solid #a2a9b1;
  border-collapse: collapse;
}

.mw-datatable td,.mw-datatable th
{
  border: 1px solid #a2a9b1;
  padding: 0.2em 0.4em;
}

.mw-datatable th
{
  background-color: #eaeeff;
}

.mw-datatable td
{
  background-color: #fff;
}

.mw-datatable tr:hover td
{
  background-color: #eaf3ff;
}

.mw-content-ltr ul,.mw-content-rtl .mw-content-ltr ul
{
  margin: 0.3em 0 0 1.6em;
  padding: 0;
}

.mw-content-rtl ul,.mw-content-ltr .mw-content-rtl ul
{
  margin: 0.3em 1.6em 0 0;
  padding: 0;
}

.mw-content-ltr ol,.mw-content-rtl .mw-content-ltr ol
{
  margin: 0.3em 0 0 3.2em;
  padding: 0;
}

.mw-content-rtl ol,.mw-content-ltr .mw-content-rtl ol
{
  margin: 0.3em 3.2em 0 0;
  padding: 0;
}

.mw-content-ltr dd,.mw-content-rtl .mw-content-ltr dd
{
  margin-left: 1.6em;
  margin-right: 0;
}

.mw-content-rtl dd,.mw-content-ltr .mw-content-rtl dd
{
  margin-right: 1.6em;
  margin-left: 0;
}

ol:lang(ckb) li,ol:lang(sdh) li
{
  list-style-type: arabic-indic;
}

ol:lang(hi) li,ol:lang(mai) li,ol:lang(mr) li,ol:lang(ne) li
{
  list-style-type: devanagari;
}

ol:lang(as) li,ol:lang(bn) li
{
  list-style-type: bengali;
}

ol:lang(or) li
{
  list-style-type: oriya;
}

.toc ul
{
  margin: 0.3em 0;
}

.mw-content-ltr .toc ul,.mw-content-rtl .mw-content-ltr .toc ul
{
  text-align: left;
}

.mw-content-rtl .toc ul,.mw-content-ltr .mw-content-rtl .toc ul
{
  text-align: right;
}

.mw-content-ltr .toc ul ul,.mw-content-rtl .mw-content-ltr .toc ul ul
{
  margin: 0 0 0 2em;
}

.mw-content-rtl .toc ul ul,.mw-content-ltr .mw-content-rtl .toc ul ul
{
  margin: 0 2em 0 0;
}

.toc .toctitle
{
  direction: ltr;
}

#mw-clearyourcache,#mw-sitecsspreview,#mw-sitejspreview,#mw-usercsspreview,#mw-userjspreview
{
  direction: ltr;
  unicode-bidi: embed;
}

#mw-revision-info,#mw-revision-info-current,#mw-revision-nav
{
  direction: ltr;
}

div.tright,div.floatright,table.floatright
{
  clear: right;
  float: right;
}

div.tleft,div.floatleft,table.floatleft
{
  float: left;
  clear: left;
}

#mw-credits a
{
  unicode-bidi: embed;
}

.printfooter
{
  display: none;
}

.xdebug-error
{
  position: absolute;
  z-index: 99;
}

.mw-editsection,.mw-editsection-like
{
  font-size: small;
  font-weight: normal;
  margin-left: 1em;
  vertical-align: baseline;
  line-height: 1em;
}

.mw-content-ltr .mw-editsection,.mw-content-rtl .mw-content-ltr .mw-editsection
{
  margin-left: 1em;
}

.mw-content-rtl .mw-editsection,.mw-content-ltr .mw-content-rtl .mw-editsection
{
  margin-right: 1em;
}

sup,sub
{
  line-height: 1;
}
  
/* Genesis Bustamante */
div.Boxmerge, div.NavFrame, details.NavFrame {
  margin: 0px 0px -1px 0px;
  border: 1px solid #aaaaaa;
  text-align: center;
  border-collapse: collapse;
  font-size: 95%;
  overflow: auto;
  width: auto;
}

/* Genesis Bustamante */
div.NavFrame div.NavHead, details.NavFrame summary.NavHead {
  min-height: 1.6em;
  text-align: left;
  background-color: #e4e4e4;
  padding: 1px 0 0 10px;
}

/* Genesis Bustamante */
.translations-cell {
  background-color: #ffffd6 !important;
}

}
